@import "../../../styles/abstracts/all";

.boldrui-sh__navitem {

    @media (min-width: 992px) {
        float: left;
    }
    margin-bottom: 25px;
}

.boldrui-sh__navitem-link {

    @media (min-width: 992px) {
        padding: 20px;
        font-size: 16px;

        &:hover {
            color: $link-hover-color;
        }
    }
    padding: 15px;
    color: $link-color;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;

    svg {
        margin-left: 5px;
    }
}

.boldrui-sh__navitem.boldrui-sh__navitem-dropdown-open .boldrui-sh__navitem-link {
    color: #000;
}

@media (min-width: 992px) {
    .boldrui-sh__navitem.boldrui-sh__navitem-caret {
        color: #bfbfbf;
    }
}

.dropdown-caret {
    position: absolute;
    top: 37px;
    left: 50%;
    z-index: 1100;
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 12px;
    margin-top: 0;
    text-align: center;
    transform: translateX(-50%);
    transition: margin-top 0.2s;

    &::after {
        content: "";
        display: inline-block;
        visibility: hidden;
        width: 12px;
        height: 12px;
        opacity: 0;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transform: rotate(45deg);
        transition: visibility 0s 0.2s, opacity 0.2s;
    }
}

.boldrui-sh__navitem-caret {

    @media (min-width: 992px) {
        display: inline-block;
        margin-left: 7px;
    }
    display: none;
}

.boldrui-sh__navitem-text {
}

@media (min-width: 992px) {
    .arrow {
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid rgba(0, 0, 0, 0.2);
            transform: translateY(-50%);
            transition: border 0.1s;
        }

        &:hover::after {
            border-left-color: #000;
        }
    }
}
