*,
*::after,
*::before {
	box-sizing: inherit;
}

body,
html {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: $font-size-base;
	box-sizing: border-box;
	color: $text-color;
}

body {
	overflow-x: hidden;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: $font-family;
	font-size: $font-size-base;
	line-height: $line-height-base;
	background-color: $body-background;
	text-rendering: optimizeLegibility;
}

#app {
	background-color: $body-background;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-height: 100vh;
	height: 100%;
}

a {
	color: $primary-color;
	text-decoration: none;
	transition: color 0.3s;

	&:hover,
	&:active,
	&:focus {
		color: darken($primary-color, 10%);
		text-decoration: none;
	}
}

.boldr-icon {
	display: inline-block;
}

.boldr-paperoverride {
	background-color: $white;
}

.boldrui-dash-main .container-fluid {
	padding: 0 30px;
}
