h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family;
  color: $text-color;
  line-height: 1.2857em;
  margin: calc(2rem - 0.14285em) 0 1rem;
  font-weight: bold;
  padding: 0;
}

h1 {
  min-height: 1rem;
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}

.#{$boldr-ns}heading--1 {
  font-size: 3.5em;
}

.#{$boldr-ns}heading__3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 200;
}

p {
  margin: 0 0 1em;
  line-height: 1.5;
  font-feature-settings: 'kern', 'liga';
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.font-xs {
  font-size: 0.75rem !important;
}

.font-sm {
  font-size: 0.85rem !important;
}

.font-lg {
  font-size: 1rem !important;
}

.font-xl {
  font-size: 1.25rem !important;
}

.font-2xl {
  font-size: 1.5rem !important;
}

.font-3xl {
  font-size: 1.75rem !important;
}

.font-4xl {
  font-size: 2rem !important;
}

.font-5xl {
  font-size: 2.5rem !important;
}
