.#{$boldr-ns}checkbox__wrap {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    vertical-align: middle;
    cursor: pointer;

    &.#{$boldr-ns}checkbox__disabled {
        cursor: not-allowed;
    }

    &:last-child {
        margin-right: 0;
    }
}

.#{$boldr-ns}checkbox {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0;
    outline: none;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;

    input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 0;
        opacity: 0;
        margin: 0;
    }

    & + span {
        margin-right: 5px;
        margin-left: 5px;
        line-height: 16px;
        vertical-align: middle;
    }
}

.#{$boldr-ns}checkbox__inner {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;

    &::after {
        content: " ";
        position: absolute;
        top: 2px;
        left: 2px;
        box-sizing: content-box;
        display: block;
        background: transparent;
        font-size: 0;
    }
}

.#{$boldr-ns}checkbox__checked {
    .#{$boldr-ns}checkbox__inner {
        background: #38f;
        border-color: #27f;

        &::after {
            top: 3px;
            left: 2px;
            width: 6px;
            height: 3px;
            background: transparent;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
        }
    }
}

.#{$boldr-ns}checkbox__indeterminate {
    .#{$boldr-ns}checkbox__inner {
        background: #fff;
        border-color: #38f;

        &::after {
            top: 5px;
            left: 3px;
            width: 6px;
            height: 2px;
            background: #3283fa;
            border: none;
            transform: rotate(0deg);
        }
    }
}

.#{$boldr-ns}checkbox__disabled {
    .#{$boldr-ns}checkbox__inner {
        opacity: 0.4;
    }

    input[type="checkbox"] {
        cursor: not-allowed;
    }
}
