/// @group dialog
///
.opacity-enter {
    opacity: 0;

    &.opacity-enter-active {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 1000ms;
        transition-timing-function: $modal-transition-deceleration;
    }
}

.#{$boldr-ns}modal {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    div {
        box-sizing: border-box;
    }
}

.#{$boldr-ns}modal__content {
    .#{$boldr-ns}paper {
        padding: 1em;
    }
}

.#{$boldr-ns}modal__portal {
    .ReactModal__Content.#{$boldr-ns}modal__content {
        opacity: 1;
        background-color: #fff;
        transform: scale(0.93);

        &--after-open {
            opacity: 1;
            transform: scale(1);
            transition: opacity 0.35s $modal-ease-out-quint, transform 0.35s $modal-ease-out-quint;
        }

        &--before-close {
            opacity: 0;
            transform: scale(0.9);
            transition: opacity 0.3s $modal-ease-out-quint, transform 0.04s $modal-ease-out-quint;
            pointer-events: none;
        }
    }

    .ReactModal__Overlay.#{$boldr-ns}modal__overlay {
        opacity: 1;
        background: rgba(30, 30, 30, 0);

        &--after-open {
            background: rgba(30, 30, 30, 0.6);
            transition: background 0.2s $modal-ease-out-quint;
        }

        &--before-close {
            background: rgba(30, 30, 30, 0);
            transition: background 0.15s $modal-ease-out-quad;
            pointer-events: none;
        }
    }
}

.#{$boldr-ns}modal__portal-non-scrollable {
    .#{$boldr-ns}modal__overlay {
        overflow: hidden;
    }
}
