
.#{$boldr-ns}img__wrapper {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}

.#{$boldr-ns}img {
    opacity: 0;
    transition: all 0.75s ease;
}

.#{$boldr-ns}img__loaded {
    opacity: 1;
}

.IconButton {
    padding: 12px;
    background: none;
    border: 0;
    margin: 0;
    outline: 0;
    line-height: 0;
    user-select: none;
}
