.#{$boldr-ns}post-sidebar {
  height: 100%;
  padding-left: 50px;
  // author card
  .#{$boldr-ns}sidebar-author {
    width: 100%;
    display: block;
    background-color: $white;
    padding: 1em;
    margin-bottom: 50px;
    @include md-box-shadow(2);
  }
  // tags card
  .#{$boldr-ns}sidebar-tags {
    @include md-box-shadow(2);
    padding: 1rem;
    background-color: #fff;
  }
}
