.#{$boldr-ns}post-card {
  margin-bottom : 50px;

  a.readmore-link {
    float        : right;
    margin-top   : 15px;
    margin-right : 15px;
  }
}

.boldr-post__image {
  width      : 100%;
  height     : 400px;
  transform  : translate3d(0, -5px, 0);
  transition : opacity 0.35s,
    transform 0.35s;
  object-fit : cover;

  &:hover {
    opacity   : 0.7;
    transform : translate3d(0, 0, 0);
  }
}

.boldr-post__date {
  padding-bottom : 15px;
}

.boldr-post__title {
  margin-top           : 200px !important;
  padding              : 0.08em 1rem;
  color                : $white;
  background           : rgba($mirage, 0.65);
  box-decoration-break : clone;
  font-size            : 5rem;
  font-weight          : 200;
  letter-spacing       : 0.2em;
}

.boldr-post__content {
  padding-top : 25px;
  line-height : 1.5;
}
