{
  "presets": [
    ["env", { "targets": { "node": true } }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-flow",
    "syntax-trailing-function-commas",
  ]
}
