{
  "extends": ["boldr/react"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "impliedStrict": true,
    "sourceType": "module",
    "jsx": true,
  },
  "ecmaFeatures": {
    "defaultParams": true,
  },
  "plugins": ["flowtype", "import"],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true,
    },
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "__DEV__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "webpackIsomorphicTools": true,
    "React": true,
    "__DLLS__": 1,
    "expect": true,
    "jest": true
  },
  "rules": {
    "id-match": 0,
    "no-duplicate-imports": 0,
    "react/prefer-stateless-function": 0,
    "import/no-unresolved": 0,
    "babel/func-params-comma-dangle": 0,
    "no-unused-expressions": 0,
    }
}
