{
  "extends": ["boldr", "boldr/react"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
  },
  "parser": "babel-eslint",
  "plugins": ["react", "flowtype","import"],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true,
    }
  },
  "globals": {
    "__SERVER__": true,
    "React": true,
    "expect": true,
  },
  "rules": {
    "id-match": 0,
    "no-duplicate-imports": 0,
    "react/prefer-stateless-function": 0,
    "import/no-unresolved": 0,
    "no-unused-expressions": 0,
    "no-undef": 0,
    "global-require": 0,
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline",
    }],
  }
}
