{
  "extends": ["boldr", "boldr/react", "boldr/import", "boldr/flowtype", "boldr/jsx-a11y"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
  },
  "parser": "babel-eslint",
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true,
    }
  },
  "globals": {
    "__SERVER__": true,
    "React": true,
    "expect": true,
  },
  "rules": {
    "id-match": 0,
    "no-duplicate-imports": 0,
    "object-curly-newline": 0,
    "react/prefer-stateless-function": 0,
    "import/no-unresolved": 0,
    "no-unused-expressions": 0,
    "camelcase": 0,
    "babel/new-cap": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-indent": 0
  }
}
