*.log
node_modules
.DS_Store

packages/cli/lib
packages/core/lib
packages/config/lib
packages/frontend/build
packages/frontend/.env
packages/server/lib
packages/server/.env
packages/server/.idea
packages/tools/lib
packages/utils/lib

.boldr/cache

coverage

