
.DS_Store
**/*.DS_Store

.idea
.vscode
**/*.idea
**/*.vscode

node_modules
**/node_modules

**/flow-typed
**/*.happypack

.env
**/*.env

**/*.log

**/dist
**/build
packages/boldr-cms/boldr/boldrCMS/
packages/boldr-cms/boldr/boldrAPI/
packages/boldr-editor/lib
