{
  "extends": "stylelint-config-boldr",
  "rules": {
    "function-url-data-uris": null,
    "declaration-block-no-ignored-properties": null,
    "scss/at-function-pattern": null,
    "scss/at-if-closing-brace-newline-after": null,
    "scss/at-if-closing-brace-space-after": null,
    "selector-no-universal": null,
    "rule-empty-line-before": [
      "always", {
        "except": ["after-single-line-comment", "inside-block-and-after-rule"],
        "ignore": ["inside-block"]
        }
    ]
  }
}
