{
  "extends": "stylelint-config-boldr",
  "rules": {
    "declaration-block-no-ignored-properties": null,
    "scss/at-function-pattern": null,
    "selector-no-universal": null,
    "rule-empty-line-before": ["always", {
    "except": ["after-single-line-comment", "inside-block-and-after-rule"],
    "ignore": ["inside-block"]
    }]
    }
}
