NODE_ENV=
HTTPS_SERVER=
BUNDLE_OUTPUT_PATH=./build/boldrCMS
BUNDLE_ASSETS_FILENAME=assets.json
CLIENT_BUNDLE_HTTP_PATH=/client/
CLIENT_BUNDLE_CACHE_MAXAGE=365d
API_PORT=
API_PREFIX=
API_HOST=
SSR_PORT=3000
WPDS_PORT=3001
API_PORT=2121
API_PREFIX=/api/v1
DISABLE_SSR=false
POSTGRES_CONN_URI
REDIS_CONN_URI
MAIL_USER
MAIL_PASSWORD
MAIL_HOST
AWS_KEY_ID
AWS_KEY_SECRET
TOKEN_SECRET
