NODE_ENV=
HTTPS_SERVER=
BUNDLE_OUTPUT_PATH=./build/boldrCMS
BUNDLE_ASSETS_FILENAME=assets.json
CLIENT_BUNDLE_HTTP_PATH=/client/
CLIENT_BUNDLE_CACHE_MAXAGE=365d
API_PORT=
API_PREFIX=
API_HOST=
SSR_PORT=3000
WPDS_PORT=3001
API_PORT=2121
API_PREFIX=/api/v1
DISABLE_SSR=false
MG_API=
MAIL_USER=
MAIL_PASSWORD=
MAIL_DOMAIN=boldr.io
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
LOG_CONSOLE=
LOG_FILE=
REDIS_CONN_URI=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
POSTGRES_CONN_URI=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
SESSION_SECRET=
SESSION_EXPIRATION=
FACEBOOK_ID=
FACEBOOK_SECRET=
