$headline-font-weight: 700;
// $navbar-background: #233040;
// $navbar-item-hover-background: #eaeaea;
// $navbar-item: #fff;
// $navbar-item-hover: #233040;
// $navbar-item-hover-background: #3178B7;
// $navbar-dropdown-item-hover: #233040;
// $navbar-dropdown-item-hover-background: #eaeaea;
$navbar-item-active: #fff;
$navbar-item-hover: #fff;

$text-color: #233040;
$text-color-light: #91979f;
$text-light: #91979f;
