@import 'overrides';
@import '~@boldr/ui/styles/boldrui.scss';

.boldrui-card__title {
  padding: 1em;
}

.boldrui-dash-footer {
  background-color: #233040;
  color: #9b9b9a;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 1.5;
  word-spacing: 0;
}
.boldrui-navbar__dropdown {
  border-top: none;
}
