////
/// @group colors
////

/// @type Color
$snow: #f5f5f5;
/// @type Color
$cloud: #e5e5e5;
/// @type Color
$gray-light: #818a91;
/// @type Color
$mirage: rgba(27, 27, 37, 1);
/// @type Color
$grayish: #a1a1a1;
/// @type Color
$iris-blue: #00bcd4;
/// @type Color
$iris-blue-alt: #00b4d0;
/// @type Color
$water: #03a9f4;
/// @type Color
$navy: #01579b;
/// @type Color
$ocean: #1c3050;
/// @type Color
$midnight: #243140;
/// @type Color
$madison: #2d3e50;
/// @type Color
$cello: #364b60;
/// @type Color
$outer-space: #2e363d;
/// @type Color
$big-stone: #333c44;
/// @type Color
$gunmetal: #2d343c;
/// @type Color
$turtle: #8bc34a;
/// @type Color
$lavender: #7e57c2;
/// @type Color
$golden: #ffca28;
/// @type Color
$carmine-pink: #f44336;
/// @type Color
$black-base: rgba(0, 0, 0, 1);
/// @type Color
$black-transparent: rgba(0, 0, 0, 0.87);
// Colors
$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$orange: hsl(14, 100%, 53%) !default;
$yellow: hsl(48, 100%, 67%) !default;
$green: hsl(141, 71%, 48%) !default;
$turquoise: hsl(171, 100%, 41%) !default;
$blue: hsl(217, 71%, 53%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: hsl(348, 100%, 61%) !default;

$primary: $turquoise !default;

$info: $blue !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;

$light: $white-ter !default;
$dark: $grey-darker !default;

$orange-invert: findColorInvert($orange) !default;
$yellow-invert: findColorInvert($yellow) !default;
$green-invert: findColorInvert($green) !default;
$turquoise-invert: findColorInvert($turquoise) !default;
$blue-invert: findColorInvert($blue) !default;
$purple-invert: findColorInvert($purple) !default;
$red-invert: findColorInvert($red) !default;

$primary-invert: $turquoise-invert !default;
$info-invert: $blue-invert !default;
$success-invert: $green-invert !default;
$warning-invert: $yellow-invert !default;
$danger-invert: $red-invert !default;
$light-invert: $dark !default;
$dark-invert: $light !default;

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
  )
  !default;
