
.sidebar{
  position: relative;
  width: 200px;
  transition: all .2s cubic-bezier(.55, .055, .675, .19) 0s;

  flex-shrink: 0;
}

.sidebar--closed{
  margin: 0 0 0 -200px;
  transition: all .2s cubic-bezier(.215, .61, .355, 1) 0s;
}

.sidebar__toggle{
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 200px;
  width: 50px;
  height: 50px;
  padding: 10px 0 0 0;
  cursor: pointer;
  transition: all .3s cubic-bezier(.215, .61, .355, 1) 0s;
  text-align: center;

  &:hover{
    background: rgba(0, 0, 0, .4);
  }
}

.sidebar__toggle__icon{
  font-size: 20px;
  color: $accent-color;
}

.sidebar__toggle__icon--closed{
  color: $text-color;
}

.sidebar__inner {
  background-color: $mercury;
  .ui.vertical.menu {
    width: 175px;
  }
}
.notification-transition-enter {
  opacity: .01;
  transition: opacity .5s ease-in;
}
.notification-transition-enter-active {
  opacity: 1;
}
.notification-transition-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.notification-transition-leave-active {
  opacity: .01;
}
.notification {
  position: relative;
  font: 1rem normal Helvetica, sans-serif;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 2px;
  max-height: 400px;
  box-sizing: border-box;
  box-shadow: 0 0 1px 1px rgba(10, 10, 11, .125);
  padding: .5rem;
  color: #fff;
}
.notification__success {
  background-color: #64ce83;
}
.notification__info {
  background-color: #3ea2ff;
}
.notification__warning {
  background-color: #ff7f48;
}
.notification__danger {
  background-color: #e74c3c;
}
.notification__container {
  bottom: 24px;
  left: 24px;
  position: fixed;
  z-index: 9999;
  align-items: flex-start;
  flex-direction: column;
  display: flex
}
