
.boldr-post__card-wrapper {
  margin-bottom: 10px;
}
.boldr-post__image {
  object-fit: cover;
  transform: translate3d(0, -5px, 0);
  transition: opacity .35s, transform .35s;
  height: 400px;
  width: 100%;

  &:hover {
    opacity: .7;
    transform: translate3d(0, 0, 0);
  }
}
.boldr-post__sidebar {

}
.boldr-post__sidebar-author {
  width: 100%;
  margin-bottom: 50px;
}
// :( important here in order to override semantic ui
.boldr-post__sidebar-card {
  padding: 1rem !important;
}

.boldr-post__tagblock {

}
.boldr-post__date {
  padding-bottom: 15px;
}
.boldr-post__title {
  font-size: 5rem;
  margin-top: 200px!important;
  font-weight: 200;
  letter-spacing: .2em;
  color: $white;
  background: rgba($mirage, .65);
  padding: .08em 1rem;
  box-decoration-break: clone;
}
.boldr-post__content {
  padding-top: 25px;
  line-height: 1.5;
}
