
.boldr__theme-header{

}
.ph-menu__item-link {
  color: $navy;

  &:hover {
    color: $pinkish;
  }
}
.boldr-ph__logo {
  height: 45px;
  vertical-align: middle;
  align-self: center;
  margin-right: 15px;
}

.md-toolbar--action-right {
  .md-btn {
    text-align: center;
    font-weight: 700;
  }
}

.boldr-ph {
  background-color: $primary-color;

  .md-btn--text {
    min-width: inherit;

    @include breakpoint(sm, 46em) {
      min-width: 88px;
    }
  }
}
