////
/// @group colors
////

/// @type Color
$black: rgba(0, 0, 0, 1);
/// @type Color
$black-transparent: rgba(0, 0, 0, 0.87);
/// @type Color
$white: rgba(255, 255, 255, 1);
/// @type Color
$snow: #f5f5f5;
/// @type Color
$cloud: #e5e5e5;
/// @type Color
$gray-light: #818a91;
/// @type Color
$mirage: rgba(27, 27, 37, 1);
/// @type Color
$grayish: #a1a1a1;
/// @type Color
$iris-blue: #00bcd4;
/// @type Color
$iris-blue-alt: #00b4d0;
/// @type Color
$water: #03a9f4;
/// @type Color
$navy: #01579b;
/// @type Color
$ocean: #1c3050;
/// @type Color
$midnight: #243140;
/// @type Color
$madison: #2d3e50;
/// @type Color
$cello: #364b60;
/// @type Color
$outer-space: #2e363d;
/// @type Color
$big-stone: #333c44;
/// @type Color
$gunmetal: #2d343c;
/// @type Color
$turtle: #8bc34a;
/// @type Color
$lavender: #7e57c2;
/// @type Color
$golden: #ffca28;
/// @type Color
$carmine-pink: #f44336;

/// Social
/// @type Color
$facebook: #3b5998;
/// @type Color
$twitter: #00aced;
/// @type Color
$linkedin: #4875b4;
/// @type Color
$google-plus: #d34836;
/// @type Color
$flickr: #ff0084;
/// @type Color
$tumblr: #32506d;
/// @type Color
$xing: #026466;
/// @type Color
$github: #4183c4;
/// @type Color
$html5: #e34f26;
/// @type Color
$openid: #f78c40;
/// @type Color
$stack-overflow: #fe7a15;
/// @type Color
$youtube: #b00;
/// @type Color
$css3: #0170ba;
/// @type Color
$dribbble: #ea4c89;
/// @type Color
$google-plus: #bb4b39;
/// @type Color
$instagram: #517fa4;
/// @type Color
$pinterest: #cb2027;
/// @type Color
$vk: #45668e;
/// @type Color
$yahoo: #400191;
/// @type Color
$behance: #1769ff;
/// @type Color
$dropbox: #007ee5;
/// @type Color
$reddit: #ff4500;
/// @type Color
$spotify: #7ab800;
/// @type Color
$vine: #00bf8f;
/// @type Color
$foursquare: #1073af;
/// @type Color
$vimeo: #aad450;
/// @type Color
$black-base: rgba(0, 0, 0, 1);
