/// 1. Typography
/// 2. Global
/// 3. Transitions
/// 4. Theme
/// 5. Button
/// 6. Navbar
/// 7. Paper
/// 8. Tooltip
/// 9. Avatar
/// 10. Block
/// 11. Breadcrumb
/// 12. Divider
/// 13. Select
/// 14. Tags
/// 15. Modal/Dialog
/// 16. Dashboard Sidebar
/// 17. Dashboard Topbar

/// Namespace
$boldr-ns: "boldrui-" !default;

/// ==========================================================
///
/// 1. Typography
///
/// ==========================================================

/// @group typography
/// @type String
$font-name: "Roboto" !default;
/// @group typography
/// @type String
$font-family: $font-name, "Helvetica Neue", arial, helvetica, sans-serif !default;
/// @group typography
/// @type String
$headline-font-name: "Chivo" !default;
/// @group typography
/// @type String
$headline-font-family: $headline-font-name, "Helvetica Neue", arial, helvetica, sans-serif !default;
/// @group typography
/// @type Number
$font-size-base: 1rem !default;
/// @group typography
/// @type Number
$font-size-large: 2rem !default;
/// @group typography
/// @type Number
$font-size-small: 0.9rem !default;
/// @group typography
/// @type Number
$font-icon-size: 24px;
/// @group typography
/// @type Number
$font-size-xsmall: 0.7rem !default;
/// @group typography
/// @type Number
$line-height-base: 1.5 !default;
/// @group typography
/// @type Number
$font-weight-base: 300 !default;
/// @group typography
/// @type Number
$font-weight-thin: 200 !default;
/// @group typography
/// @type Number
$font-weight-bold: 600 !default;
/// @group typography
/// @type Number
$headline-font-weight: $font-weight-bold !default;
/// @group typography
/// @type Number
$btn-font-weight: $font-weight-base !default;
/// @group typography
/// @type String
$headline-font-case: none !default;

/// ==========================================================
///
/// 2. Global
///
/// ==========================================================

/// @group global
$grid-columns: 12 !default;
/// @group global
$grid-gutter: 2rem !default;
/// @group global
$grid-breakpoints:
    (
        xs: false,
        sm: 48em,
        md: 62em,
        lg: 75em
    ) !default;
/// @group global
$bp-large: 75em;
/// @group global
$bp-medium: 62em;
/// @group global
$bp-small: 48em;
/// @group global
$grid-containers:
    (
        xs: false,
        sm: 46rem,
        md: 61rem,
        lg: 71rem,
    ) !default;
/// @group global
$border-radius: 0.25rem !default;
/// @group global
$border-color: rgba(0, 0, 0, 0.1) !default;
/// @group global
$border-width: 1px !default;
/// The default padding used for most components.
/// @type Number
/// @group global
$base-padding: 1em !default;
/// @group global
$spacer: 1rem !default;
/// @group global
$spacer-x: $spacer !default;
/// @group global
$spacer-y: $spacer !default;
/// @group global
$spacers:
    (
        q: ( x: ($spacer-x * 0.25),
        y: ($spacer-y * 0.25)),
        h: ( x: ($spacer-x * 0.5),
        y: ($spacer-y * 0.5)),
        0:
        (
            x: 0,
            y: 0
        ),
        1: ( x: $spacer-x, y: $spacer-y),
        2: ( x: ($spacer-x * 1.5), y: ($spacer-y * 1.5)),
        3: ( x: ($spacer-x * 3), y: ($spacer-y * 3))) !default;

/// ==========================================================
///
/// 3. Transitions
///
/// ==========================================================

/// @group transitions
$speed: 86ms !default;
/// @group transitions
$easing: ease-out !default;
/// The default transition time to use on most animations/transitions.
/// @type Number
/// @group transitions
$transition-length: 0.25s !default;
/// @type Number
/// @group transitions
$layout-transition-speed: $transition-length;

/// ==========================================================
///
/// 4. Theme
///
/// ==========================================================

/// The primary color to use throughout the app. This should be a color
/// with a `-500` suffix.
/// @type Color
/// @group theme
$primary-color: $iris-blue !default;

/// @type Color
/// @group theme
$md-primary-color: $primary-color;
/// @group theme
$icon-color: rgba(0, 0, 0, 0.54);
/// @group theme
$font-icon-disabled-color: rgba(0, 0, 0, 0.24);
/// @group theme
$secondary-color: $turtle;
/// @group theme
$teritary-color: $navy;
/// @type Color
/// @group theme
$accent-color: $secondary-color !default;

/// Boolean if the application is to be themed with the light theme.
/// @type Boolean
/// @group theme
$boldrui-light-theme: true !default;
/// @group theme
$shadow-color: rgba(0, 0, 0, 0.2) !default;
$body-background: $cloud !default;
/// @group theme
$link-color: $primary-color !default;
/// @group theme
$link-hover-color: $carmine-pink;
/// @group theme
$error-color: $carmine-pink !default;
/// @group theme
$warning-color: $golden !default;
/// @group theme
$text-color: $black-transparent !default;
/// @group theme
$text-color-light: #afbbca;
/// @group theme
$text-color-disabled: #577083;
/// @group theme
$headline-font-color: $navy !default;

/// ==========================================================
///
/// 5. Button
///
/// ==========================================================

/// @group btn
$btn-line-height: 1.25 !default;
/// @group btn
$input-btn-border-width: $border-width !default;
/// @group btn
$btn-border-radius: $border-radius !default;
/// @group btn
$btn-padding-x: 1rem !default;
/// @group btn
$btn-padding-y: 0.5rem !default;
/// @group btn
$btn-white: #fff;
/// @group btn
$btn-gray: #bbb;
/// @group btn
$btn-light-gray: #e5e5e5;
/// @group btn
$btn-primary: $primary-color;
/// @group btn
$btn-primary-hover: darken($primary-color, 5%);
/// @group btn
$btn-primary-active: darken($primary-color, 5%);
/// @group btn
$btn-secondary: $secondary-color;
/// @group btn
$btn-secondary-hover: darken($secondary-color, 5%);
/// @group btn
$btn-secondary-active: darken($secondary-color, 5%);
/// @group btn
$btn-danger: #f44;
/// @group btn
$btn-danger-hover: #f66;
/// @group btn
$btn-danger-active: #e33;

/// ==========================================================
///
/// 6. Navbar
///
/// ==========================================================

/// @group navbar
$boldrui-navbar-height: 70px !default;
/// @group navbar
$boldrui-navbar-breakpoint: 768px !default;
/// @group navbar
$boldrui-navbar-padding: 25px 24px 20px 24px !default;
/// @group navbar
$boldrui-navbar-transition: 0.6s ease !default;
/// @group navbar
$hamburger-line-height: 2px !default;
/// @group navbar
$hamburger-width: 26px !default;
/// @group navbar
$boldrui-navbar-shadow: 0 1px 3px rgba(#000, 0.12), 0 1px 2px rgba(#000, 0.24) !default;

/// ==========================================================
///
/// 7. Paper
///
/// ==========================================================

/// @group paper
$paper-dark-bg: $big-stone;
/// @group paper
$paper-light-bg: $white;
/// The defualt transition time for the paper to raise from 0 to 3
/// @type Number
/// @group paper
$paper-transition-time: $transition-length * 2 !default;

/// ==========================================================
///
/// 8. Tooltip
///
/// ==========================================================

/// @group tooltip
$tooltip-z-index: 2000;
/// @group tooltip
$tooltip-font-size: 14px;
/// @group tooltip
$tooltip-line-height: 1.29;
/// @group tooltip
$tooltip-padding: 18px;
/// @group tooltip
$tooltip-border-radius: 8px;
/// @group tooltip
$tooltip-shadow-color: rgba(0, 0, 0, 0.2);
/// @group tooltip
$tooltip-shadow-color-arrow: rgba(0, 0, 0, 0.1);
/// @group tooltip
$tooltip-shadow: 0 0 11px 0 $tooltip-shadow-color;

/// ==========================================================
///
/// 9. Avatar
///
/// ==========================================================

/// @group avatar
/// The default size for an avatar
/// @type Number
$avatar-size: 40px !default;

/// ==========================================================
///
/// 10. Block
///
/// ==========================================================

/// @group block
/// The default block background color
/// @type Color
$block-bg: $white;
/// The dark block background color
/// @type Color
/// @group block
$block-bg-dark: $outer-space;

/// ==========================================================
///
/// 11. Breadcrumb
///
/// ==========================================================

/// @group breadcrumb
$breadcrumb-padding-y: 0.75rem !default;
/// @group breadcrumb
$breadcrumb-padding-x: 1rem !default;
/// @group breadcrumb
$breadcrumb-item-padding: 0.5rem !default;
/// @group breadcrumb
$breadcrumb-bg: $cloud !default;
/// @group breadcrumb
$breadcrumb-divider-color: $gray-light !default;
/// @group breadcrumb
$breadcrumb-active-color: $gray-light !default;
/// @group breadcrumb
$breadcrumb-divider: "/" !default;
/// @group breadcrumb
$breadcrumb-borders:
    (
        bottom: (
            size:                           1px,
            style:                          solid,
            color:                          $border-color
        )
    );

/// ==========================================================
///
/// 12. Divider
///

/// @group divider
/// Boolean if the base classes for divider borders should be included.
/// @type Boolean
$divider-inc-borders: true !default;
/// The height for a Divider
/// @type Number
/// @group divider
$divider-height: 1px !default;
/// @group divider
$divider-color: $big-stone;
/// @group divider
$divider-border-color: $divider-color;

/// ==========================================================
///
/// 13. Select
///
/// ==========================================================

/// @group select
$select-c-border: #bbb;
/// @group select
$select-c-light-border: #ddd;
/// @group select
$select-c-white: #fff;
/// @group select
$select-c-blue: #38f;
/// @group select
$select-c-light-gray: #999;
/// @group select
$select-c-bg-gray: #f8f8f8;
/// @group select
$select-c-light-blue: #bdf;
/// @group select
$select-c-half-black: rgba(0, 0, 0, 0.2);

/// ==========================================================
///
/// 14. Tags
///
/// ==========================================================

/// @group tag
$tag-bg: #f3f3f3;
/// @group tag
$tag-font-size: 12px;
/// @group tag
$light-gray: #d9d8dd;
/// @group tag
$dark-gray: #626166;
/// @group tag
$tag-base-height: 26px !default;
/// @group tag
$tag-base-font-size: 12px !default;
/// @group tag
$tag-base-border-radius: 12px !default;
/// @group tag
$tag-base-font-color: $dark-gray !default;
/// @group tag
$tag-base-margin: 5px !default;
/// @group tag
$tag-base-font-family: "Helvetica Neue", helvetica, arial, sans-serif !default;

/// @group tag
$tag-background-color: $light-gray !default;
/// @group tag
$tag-background-hover-color: darken($light-gray, 6%) !default;
/// @group tag
$tag-remove-color: $black !default;
/// @group tag
$tag-remove-font-size: $tag-base-font-size !default;
/// @group tag
$tag-remove-hover-color: lighten($tag-remove-color, 40%) !default;
/// @group tag
$tag-intro-animation: slide-left 0.8s cubic-bezier(0.19, 1, 0.22, 1) !default;

/// @group tag
$tag-input-bg-color: $white !default;
/// @group tag
$tag-input-border: 1px solid $light-gray !default;
/// @group tag
$tag-input-placeholder-color: rgba($dark-gray, 0.5) !default;
/// @group tag
$tag-input-border-focus-color: darken($light-gray, 15%) !default;

/// ==========================================================
///
/// 15. Modal/Dialog
///
/// ==========================================================

/// @group dialog
$modal-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
/// @group dialog
$modal-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
/// @group dialog
$modal-transition-deceleration: cubic-bezier(0, 0, 0.2, 1);

/// ==========================================================
///
/// 16. Dashboard Sidebar
///
/// ==========================================================

/// @group dash-sidebar
/// @type Number
$sidebar-width: 200px !default;
/// @group dash-sidebar
/// @type Number
$sidebar-padding: 0 !default;
/// @group dash-sidebar
/// @type Number
$sidebar-top-space: 1rem !default;
/// @group dash-sidebar
/// @type Number
$sidebar-compact-width: 50px;
/// @group dash-sidebar
/// @type Number
$sidebar-compact-height: $sidebar-compact-width;
/// @group dash-sidebar
/// @type Color
$sidebar-color: #fff;
/// @group dash-sidebar
$sidebar-nav-bg: $midnight;
/// @group dash-sidebar
$sidebar-nav-expanded-bg: $madison;
/// @group dash-sidebar
$sidebar-borders: none;
/// @group dash-sidebar
$mobile-sidebar-width: 220px;
/// @group dash-sidebar
$sidebar-nav-title-padding-y: 0.75rem;
/// @group dash-sidebar
$sidebar-nav-title-padding-x: 1rem;
/// @group dash-sidebar
$sidebar-nav-title-color: $snow;
/// @group dash-sidebar
$sidebar-nav-link-padding-y: 0.75rem;
/// @group dash-sidebar
$sidebar-nav-link-padding-x: 1rem;
/// @group dash-sidebar
$sidebar-nav-link-color: #f1f1f1;
/// @group dash-sidebar
$sidebar-nav-link-bg: transparent;
/// @group dash-sidebar
$sidebar-nav-link-borders: 0;
/// @group dash-sidebar
$sidebar-nav-link-hover-color: $snow;
/// @group dash-sidebar
$sidebar-nav-link-hover-bg: $primary-color !default;
/// @group dash-sidebar
$sidebar-nav-link-hover-icon-color: $snow !important;
/// @group dash-sidebar
$sidebar-nav-link-hover-borders: 0;
/// @group dash-sidebar
$sidebar-nav-link-active-color: $snow;
/// @group dash-sidebar
$sidebar-nav-link-active-bg: $madison;
$sidebar-nav-active-bg: $cello;
/// @group dash-sidebar
$sidebar-nav-link-active-icon-color: $primary-color;
/// @group dash-sidebar
$sidebar-nav-link-active-borders: 0;
/// @group dash-sidebar
$sidebar-nav-dropdown-color: #f1f1f1;
/// @group dash-sidebar
$sidebar-nav-dropdown-bg: rgba(0, 0, 0, 0.2);
/// @group dash-sidebar
$sidebar-nav-dropdown-borders: 0;

/// ==========================================================
///
/// 17. Dashboard Topbar
///
/// ==========================================================

/// @group topbar
/// @type Color
$topbar-bg: $white;
/// @group topbar
$topbar-bottom-margin: 25px;
/// @group topbar
$topbar-link-color: $text-color;
/// @group topbar
$topbar-search-input-color: $text-color;
/// @group topbar
$topbar-link-active: $iris-blue;
/// @group topbar
$topbar-link-hover: $iris-blue;
/// @group topbar
$topbar-font-size: 0.75rem;
/// @group topbar
$topbar-font-weight: 600;
/// @group topbar
$topbar-font-family: $font-family;
/// @group topbar
$topbar-link-transform: uppercase;
/// @group topbar
$topbar-border:
    (
        bottom: (
            size:                       1px,
            style:                      solid,
            color:                      $border-color
        )
    );
/// @group topbar
$topbar-z-index: 1000;
