*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

html {
  height: 100%;
  font-size: $font-size-base;
  box-sizing: border-box;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100vh;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: #f3f3f3;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color .3s;

  &:hover,
  &:active,
  &:focus {
    color: darken($primary-color, 10%);
    text-decoration: none;
  }
}

/*******************************
          Highlighting
*******************************/
/* Site */
::-webkit-selection {
  background-color: $selection-color;
  color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
  background-color: $selection-color;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: $selection-color;
  color: rgba(0, 0, 0, 0.87);
}
/* Form */
input::-webkit-selection,
textarea::-webkit-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

input::-moz-selection,
textarea::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

input::selection,
textarea::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}

.boldr-icon {
  display: inline-block;
}
