////
/// @group colors
////

/// @type Color
$black: rgba(0, 0, 0, 1);
$black-transparent: rgba(0, 0, 0, 0.87);
/// @type Color
$white: rgba(255, 255, 255, 1);
/// @type Color
$snow: #fafafa;
/// @type Color
$cloud: #e5e5e5;
$gray-light: #818a91;
/// @type Color
$mirage: rgba(27, 27, 37, 1);
$white-smoke: #f5f5f5;
$grayish: #a1a1a1;
$lily-white: #ebebeb;

/// @type Color
$dark-navy: #262b33;
$iris-blue: #00bcd4;
$iris-blue-alt: #00b4d0;
$outer-space: #2e363d;
$big-stone: #333c44;
/// @type Color
$near-black: rgba(0, 0, 0, 0.87);
/// @type Color
$grape: rgba(64, 64, 78, 1);
/// @type Color
$ocean: #1c3050;
/// @type Color
$water: #03a9f4;
/// @type Color
$navy: #01579b; // $md-light-blue-900
/// @type Color
$gunmetal: #2d343c;
$turtle: #8bc34a;
$lavender: #7e57c2;
$golden: #ffca28;
$carmine-pink: #f44336;
