.wrapper {
	width: 100%;

	@media screen and (--medium-viewport) {
		display: table;
	}
}
.imgWrapper {
	position: relative;
	overflow: hidden;

	@media screen and (--medium-viewport) {
		display: table-cell;
	}
}
@media screen and (--medium-viewport) {
	.imgWrapper--40 { width: 40%; }
	.imgWrapper--60 { width: 60%; }
	.imgWrapper--80 { width: 80%; }
}
.contents {
	padding: 1.5rem;
	vertical-align: middle;

	@media screen and (--medium-viewport) {
		display: table-cell;
		padding: 3rem;
	}
}
.img,
.img > img {
	width: 100%;

	@media screen and (--medium-viewport) {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		max-width: none;
	}
}

/*
 * Image-Animation related styles
 */
.imgAnimated {
	animation: animateImage 25s infinite ease;
	transform-origin: center;

	@media screen and (--medium-viewport) {
		.imgWrapper--40 & {
			animation-name: animateImageLarge;
		}
		.imgWrapper--60 & {
			animation-name: animateImageMedium;
		}
		.imgWrapper--80 {
			animation-name: animateImageSmall;
		}
	}
}

@keyframes animateImage {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.01);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes animateImageSmall {
	0% {
		transform: scale(1) translateX(-50%) translateY(-50%);
	}
	50% {
		transform: scale(1.01) translateX(-50%) translateY(-50%);
	}
	100% {
		transform: scale(1) translateX(-50%) translateY(-50%);
	}
}
@keyframes animateImageMedium {
	0% {
		transform: scale(1) translateX(-50%) translateY(-50%);
	}
	50% {
		transform: scale(1.05) translateX(-50%) translateY(-50%);
	}
	100% {
		transform: scale(1) translateX(-50%) translateY(-50%);
	}
}
@keyframes animateImageLarge {
	0% {
		transform: scale(1) translateX(-50%) translateY(-50%);
	}
	50% {
		transform: scale(1.1) translateX(-50%) translateY(-50%);
	}
	100% {
		transform: scale(1) translateX(-50%) translateY(-50%);
	}
}
