@charset "utf-8";
@import "vendor/all";
@import "abstracts/all";
@import "base/all";
@import "components/all";

.react-tagsinput {
    border: none !important;
}

.boldrui-tagblock {
    padding: 1em;
}

.editor--root {
    width: 65%;
    margin: 0 auto;
}

.editor--content {
    padding: 0.2rem;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.editor--content > div {
    min-height: 100px;
}

.editor--toolbar {
    background-color: #0275d8;
}

.toolbar--footer > * {
    float: right;
}


.editor > * > * + * {
  margin-top: 1em;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 15px;
}

.button {
  color: #ccc;
  cursor: pointer;
}

.button[data-active="true"] {
  color: black;
}

.toolbar-menu {
  padding: 1px 0 17px 18px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity .75s;
}

.hover-menu .button {
  color: #aaa;
}

.hover-menu .button[data-active="true"] {
  color: #fff;
}

.emoji.selected {
  outline: 2px solid blue;
}

.check-list-item + .check-list-item {
  margin-top: 0;
}

.check-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-list-item > span:first-child {
  margin-right: 0.75em;
}

.check-list-item > span:last-child {
  flex: 1;
}

.check-list-item > span:last-child:focus {
  outline: none;
}

.word-counter {
  margin-top: 10px;
  padding: 12px;
  background-color: #EBEBEB;
  display: inline-block;
}
