@charset "utf-8";
@import "vendor/all";
@import "abstracts/all";
@import "base/all";
@import "components/all";

.react-tagsinput {
    border: none !important;
}

.boldrui-card-title {
    padding: 1em;
}

.boldrui-card-text {
    padding: 1em;
}

.boldrui-card-footer {
    padding-left: 1em;
}

h3.boldrui-card-title--title {
    margin-top: -10px;
}

.boldrui-card-footer__inline {
    svg {
        margin-left: 220px;
    }
}

.boldrui-tagblock {
    padding: 1em;
}

.editor--root {
    width: 65%;
    margin: 0 auto;
}

.editor--content {
    padding: 0.2rem;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.editor--content > div {
    min-height: 100px;
}

.editor--toolbar {
    background-color: #0275d8;
}

.toolbar--footer > * {
    float: right;
}
