@charset "utf-8";
@import "vendor/normalize";
@import "vendor/draft";
@import "abstracts/all";
@import "vendor/griddle";
@import "base/all";
@import "components/all";

.boldr-dropzone__drop-sm {
  margin-top: 15px !important;
  padding: 1em;
  border: 1px solid #ccc;
}

.react-tagsinput {
  border: none !important;
}

.editor--root {
  width: 65%;
  margin: 0 auto;
}

.editor--content {
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 0.2rem;
}

.rdw-editor-main {
  border: 1px solid rgba(225, 225, 225, 1.00);
}

.editor--content > div {
  min-height: 100px;
}

.editor--toolbar {
  background-color: #0275d8;
}

.toolbar--footer > * {
  float: right;
}
