////
/// @group paper
////


/// The defualt transition time for the paper to raise from 0 to 3
/// @type Number
$paper-transition-time: $transition-length * 2 !default;

/// Creates the styles for paper.
@mixin boldrui-paper($include-media: $media-included) {
  @for $i from 0 through 5 {
    .#{$boldr-ns}paper__#{$i} {
      @include md-shadow($i);

      background-color: #fff;
    }

    @if $i == 0 and $include-media {
      @media #{$desktop-media} {
        .#{$boldr-ns}paper__#{$i}-hover {
          transition-duration: $paper-transition-time;
          transition-property: box-shadow;

          &:hover {
            @include md-shadow(3);
          }
        }
      }
    }
  }
}
