////
/// @group divider
////
.#{$boldr-ns}divider {
  content: "";
  display: block;
  height: $divider-height;
  background: $divider-color;
  border: 0;
  margin: 0;
}

.#{$boldr-ns}divider__vertical {
  width: $divider-height;
  height: 100%;
}

.#{$boldr-ns}divider__inset {
  margin-left: 40px;
}

.#{$boldr-ns}divider-border {
  border-width: 0;
  border-style: solid;
  border-color: $divider-border-color;
}

.#{$boldr-ns}divider-border__top {
  border-top-width: 1px;
}

.#{$boldr-ns}divider-border__right {
  border-right-width: 1px;
}

.#{$boldr-ns}divider-border__bottom {
  border-bottom-width: 1px;
}

.#{$boldr-ns}divider-border__left {
  border-left-width: 1px;
}
