.boldredit-root {
  width: 65%;
  margin: 0 auto;
}

.editor--content {
  padding: 0.2rem;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.editor--content > div {
  min-height: 100px;
}
.boldredit-dropdown__wrapper {
  a {
    color: $text-color;
  }
}
.editor--toolbar {
  background-color: #0275d8;
}

.boldredit-editor {
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
}

.boldredit-toolbar {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 6px 5px 0;
  background: $white;
  border: 1px solid $snow;
  border-radius: 2px;
  margin-bottom: 5px;
  font-size: 15px;
  user-select: none;
}

.public-DraftStyleDefault-block {
  margin: 1em 0;
}

.boldredit-wrapper {
  box-sizing: content-box;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  &:focus {
    outline: none;
  }
}

.boldredit-block__wrapper {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin-bottom: 6px;
}

.boldredit-block__dropdown {
  width: 110px;
  flex: 1 1 auto;
}

/// Color Picker
.boldredit-colorpicker__wrapper {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-colorpicker__modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 175px;
  padding: 15px;
  background: $white;
  border: 1px solid $border-color;
  border-radius: 2px;
}

.boldredit-colorpicker__modal-header {
  display: flex;
  padding-bottom: 5px;
}

.boldredit-colorpicker__modal-style-label {
  width: 50%;
  padding: 0 10px 5px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

.boldredit-colorpicker__modal-style-label-active {
  border-bottom: 2px solid #0a66b7;
}

.boldredit-colorpicker__modal-options {
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 5px auto;
}

.boldredit-colorpicker__cube {
  width: 22px;
  height: 22px;
}

.boldredit-colorpicker__option {
  width: 22px;
  min-width: 22px;
  height: 22px;
  min-height: 20px;
  padding: 0;
  border: none;
  margin: 3px;

  &:hover {
    @include md-shadow(3);
  }

  &:active {
    @include md-shadow(3);
  }
}

.boldredit-colorpicker__option--active {
  box-shadow: 0 0 2px 2px #bfbdbd;
}

/// Embed
.boldredit-embedded-wrapper {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-embedded-modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 235px;
  height: 180px;
  padding: 15px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.boldredit-embedded-modal-header {
  display: flex;
  font-size: 15px;
}

.boldredit-embedded-modal-header-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.boldredit-embedded-modal-header-label {
  width: 95px;
  background: #6eb8d4;
  border: 1px solid #f1f1f1;
  border-bottom: 2px solid #0a66b7;
  margin-top: 5px;
}

.boldredit-embedded-modal-link-section {
  display: flex;
  flex-direction: column;
}

.boldredit-embedded-modal-link-input {
  width: 95%;
  height: 35px;
  padding: 0 5px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 10px 0;
  font-size: 15px;

  &:focus {
    outline: none;
  }
}

.boldredit-embedded-modal-btn-section {
  display: flex;
  justify-content: center;
}

.boldredit-embedded-modal-btn {
  width: 75px;
  height: 30px;
  background: $white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 0 3px;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 0px #bfbdbd;
  }

  &:active {
    box-shadow: 1px 1px 0px #bfbdbd inset;
  }

  &:focus {
    outline: none !important;
  }

  &:disabled {
    background: #ece9e9;
  }
}

.boldredit-embedded-modal-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.boldredit-embedded-modal-size-input {
  width: 45%;
  height: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  font-size: 12px;

  &:focus {
    outline: none;
  }
}

/// Emoji

.boldredit-emoji-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-emoji-modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  width: 235px;
  height: 180px;
  padding: 15px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.boldredit-emoji-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 2.5px;
  font-size: 22px;
  cursor: pointer;
}

/// Font

.boldredit-fontfam__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-fontfam__dropdown {
  width: 115px;
}

.boldredit-fontfam__placeholder {
  overflow: hidden;
  max-width: 90px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boldredit-fontfam__optionwrapper {
  width: 140px;
}

.boldredit-fontsize__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-fontsize__dropdown {
  min-width: 40px;
}

.boldredit-fontsize__option {
  display: flex;
  justify-content: center;
}

/// history

.boldredit-history-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-history-dropdownoption {
  display: flex;
  justify-content: center;
  height: 40px;
}

.boldredit-history-dropdown {
  width: 50px;
}

/// Image

.boldredit-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-image-modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 200px;
  padding: 15px;
  background: $white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.boldredit-image-modal-header {
  display: flex;
  margin: 10px 0;
  font-size: 15px;
}

.boldredit-image-modal-header-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.boldredit-image-modal-header-label {
  width: 80px;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  margin-top: 5px;
}

.boldredit-image-modal-header-label-highlighted {
  background: #6eb8d4;
  border-bottom: 2px solid #0a66b7;
}

.boldredit-image-modal-upload-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  color: gray;
  background-color: #f1f1f1;
  border: none;
  margin: 10px 0;
  outline: 2px dashed gray;
  outline-offset: -10px;
  font-size: 15px;
  cursor: pointer;
}

.boldredit-image-modal-upload-option-highlighted {
  outline: 2px dashed #0a66b7;
}

.boldredit-image-modal-upload-option-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  cursor: pointer;

  span {
    padding: 0 20px;
  }
}

.boldredit-image-modal-upload-option-input {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.boldredit-image-modal-url-section {
  display: block;
}

.boldredit-image-modal-url-input {
  width: 95%;
  height: 35px;
  padding: 0 5px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 30px 0 20px;
  font-size: 15px;
}

.boldredit-image-modal-btn-section {
  margin: 10px auto 0;
}

.boldredit-image-modal-url-input:focus {
  outline: none;
}

.boldredit-image-modal-btn {
  width: 75px;
  height: 30px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 0 5px;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 0px #bfbdbd;
  }

  &:active {
    box-shadow: 1px 1px 0px #bfbdbd inset;
  }

  &:focus {
    outline: none !important;
  }

  &:disabled {
    background: #ece9e9;
  }
}

.boldredit-image-modal-spinner {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/// Inline

.boldredit-inline__wrapper {
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 6px;
}

.boldredit-inline-dropdown {
  width: 50px;
}

.boldredit-inline-dropdownoption {
  display: flex;
  justify-content: center;
  height: 40px;
}

/// Link

.boldredit-link__wrapper {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-link__dropdown {
  width: 50px;
}

.boldredit-link__dropdownOption {
  display: flex;
  justify-content: center;
  height: 40px;
}

.boldredit-link__dropdownPlaceholder {
  margin-left: 8px;
}

.boldredit-link__modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 205px;
  padding: 15px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.boldredit-link__modal-label {
  font-size: 15px;
}

.boldredit-link__modal-input {
  height: 25px;
  padding: 0 5px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 15px;

  &:focus {
    outline: none;
  }
}

.boldredit-link__modal-buttonsection {
  margin: 0 auto;
}

.boldredit-link__modal-target-option {
  margin-bottom: 20px;

  > span {
    margin-left: 5px;
  }
}

.boldredit-link__modal-btn {
  width: 75px;
  height: 30px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin-left: 10px;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 0px #bfbdbd;
  }

  &:active {
    box-shadow: 1px 1px 0px #bfbdbd inset;
  }

  &:focus {
    outline: none !important;
  }

  &:disabled {
    background: #ece9e9;
  }
}

.boldredit-link__dropdownoption {
  display: flex;
  justify-content: center;
  height: 40px;
}

.boldredit-history-dropdown {
  width: 50px;
}

/// List

.boldredit-list__wrapper {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-list__dropdown {
  z-index: 90;
  width: 50px;
}

.boldredit-list__dropdownOption {
  display: flex;
  justify-content: center;
  height: 40px;
}

/// remove

.boldredit-remove__wrapper {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

/// textalign

.boldredit-textalign__wrapper {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin-bottom: 6px;
}

.boldredit-text-align-dropdown {
  z-index: 90;
  width: 50px;
}

.boldredit-text-align-dropdownOption {
  display: flex;
  justify-content: center;
  height: 40px;
}

.boldredit-right-aligned-block {
  text-align: right;
}

.boldredit-left-aligned-block {
  text-align: left;
}

.boldredit-center-aligned-block {
  text-align: center;
}

.boldredit-justify-aligned-block {
  text-align: justify;
}

.boldredit-right-aligned-block > div,
.boldredit-left-aligned-block > div,
.boldredit-center-aligned-block > div,
.boldredit-justify-aligned-block > div {
  display: inline;
}

/// dropdown

.boldredit-dropdown__wrapper {
  height: 30px;
  flex: 1 1 auto;
  background: $white;
  border: none;
  border-radius: 2px;
  margin: 0 3px;
  text-transform: capitalize;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #fff;
    box-shadow: 1px 1px 0px #bfbdbd;
  }

  &:active {
    box-shadow: 1px 1px 0px #bfbdbd inset;
  }
}

.boldredit-dropdown__carettoopen {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 0;
  height: 0;
  border-top: 6px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.boldredit-dropdown__carettoclose {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 6px solid black;
  border-left: 5px solid transparent;
}

.boldredit-dropdown__selectedtext {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5px;
}

.boldredit-dropdown__optionwrapper {
  position: relative;
  z-index: 100;
  flex: 1 1 auto;
  overflow-y: scroll;
  width: 98%;
  max-height: 250px;
  padding: 0;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 0;

  &:hover {
    background-color: #fff;
    box-shadow: 1px 1px 0px #bfbdbd;
  }
}

.boldredit-dropdown__option--default {
  display: flex;
  align-items: center;
  min-height: 25px;
  padding: 0 5px;
}

.boldredit-dropdown__option--highlighted {
  background: #f1f1f1;
}

.boldredit-dropdown__option--active {
  background: #f5f5f5;
}

.boldredit-dropdown__option--disabled {
  opacity: 0.3;
  cursor: default;
}

/// opt

.boldredit-option__wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: center;
  min-width: 30px;
  padding: 3px;
  background-color: transparent;
  border: none;
  // border-radius: 2px;
  text-transform: capitalize;
  cursor: pointer;
  //
  &:hover {
        box-shadow: none;
  }

  &:active {
  box-shadow: none;
  }
}

.boldredit-option--active {
  box-shadow: none;
  svg {
    color: $primary-color !important;
  }
}

.boldredit-option--disabled {
  opacity: 0.3;
  cursor: default;
}

/// spinner

.boldredit-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  > div {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/// decorators

.boldredit-link__dec--wrapper {
  position: relative;
  flex: 1 1 auto;
}

.boldredit-link__dec--icon {
  position: absolute;
  top: 0;
  left: 40%;
  background-color: white;
  cursor: pointer;
}

.boldredit-hashtag-link,
.boldredit-mention-link {
  padding: 1px 2px;
  color: #1236ff;
  background-color: #f0fbff;
  border-radius: 2px;
  text-decoration: none;
}

.boldredit-suggestion-wrapper {
  position: relative;
  flex: 1 1 auto;
}

.boldredit-suggestion-dropdown {
  position: absolute;
  z-index: 100;
  display: flex;
  overflow: auto;
  flex-direction: column;
  min-width: 100px;
  max-height: 150px;
  background: white;
  border: 1px solid #f1f1f1;
}

.boldredit-suggestion-option {
  padding: 7px 5px;
  border-bottom: 1px solid #f1f1f1;
}

.boldredit-suggestion-option-active {
  background-color: #f1f1f1;
}

/// image

.boldredit-image-alignment-options-popup {
  position: absolute;
  z-index: 100;
  display: flex;
  width: 105px;
  padding: 5px 2px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  cursor: pointer;
}

.boldredit-image-alignment-option-left {
  justify-content: flex-start;
}

.boldredit-image-alignment-option {
  width: 15px;
  min-width: 15px;
  height: 15px;
}

.boldredit-image-alignment,
.boldredit-image-imagewrapper {
  position: relative;
  flex: 1 1 auto;
}

.boldredit-image-center {
  display: flex;
  justify-content: center;
}

.boldredit-image-left {
  display: flex;
}

.boldredit-image-right {
  display: flex;
  justify-content: flex-end;
}

.boldredit-image-alignment-options-popup-right {
  right: 0;
}
