.boldrui-editor-root {
  width: 65%;
  margin: 0 auto;
}

.editor--content {
  padding: 0.2rem;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.editor--content > div {
  min-height: 100px;
}

.editor--toolbar {
  background-color: #0275d8;
}

.be-main {
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
}

.be-toolbar {
  display: inline-flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  padding: 6px 5px 0;
  background: $white;
  border: 1px solid $snow;
  border-radius: 2px;
  margin-bottom: 5px;
  font-size: 15px;
  user-select: none;
}

.public-DraftStyleDefault-block {
  margin: 1em 0;
}

.be-wrapper {
  box-sizing: content-box;

  &:focus {
    outline: none;
  }
}

.be-block__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-block__dropdown {
  width: 110px;
}

/// dropdown

.be-dropdown__wrapper {
  height: 30px;
  background: $white;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin: 0 3px;
  text-transform: capitalize;
  cursor: pointer;

  a {
    color: rgba(0, 0, 0, 0.87);
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #fff;
    box-shadow: 1px 1px 0px #bfbdbd;
  }

  &:active {
    box-shadow: 1px 1px 0px #bfbdbd inset;
  }
}

.be-dropdown__caret--open {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 0;
  height: 0;
  border-top: 6px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.be-dropdown__caret--close {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 6px solid black;
  border-left: 5px solid transparent;
}

.be-dropdown__selected-text {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5px;
}

.be-dropdown__option-wrapper {
  position: relative;
  z-index: 100;
  overflow-y: scroll;
  width: 98%;
  max-height: 250px;
  padding: 0;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 0;
}

.be-dropdown__option--default {
  display: flex;
  align-items: center;
  min-height: 25px;
  padding: 0 5px;
}

.be-dropdown__option--highlighted {
  background: #f1f1f1;
}

.be-dropdown__option--active {
  background: #f5f5f5;
}

.be-dropdown__option--disabled {
  opacity: 0.3;
  cursor: default;
}

/// opt

.be-option__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  height: 20px;
  padding: 3px;
  background-color: transparent;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin: 0 4px;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    svg {
      // Necessary to use important here due to the item being a React styled SVG
      color: #00bcd4 !important;
    }
  }
}

.be-option--active {
  svg {
    color: #00bcd4 !important;
  }
}

.be-option--disabled {
  opacity: 0.3;
  cursor: default;
}

/// Color Picker
.be-colorpicker__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-colorpicker__modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 175px;

  padding: 15px;
  background: #fff;
  border-radius: 2px;
}

.be-colorpicker__modal-header {
  display: flex;
  padding-bottom: 5px;
}

.be-colorpicker__modal-style-label {
  width: 50%;
  padding: 0 10px 5px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

.be-colorpicker__modal-style-label--active {
  border-bottom: 2px solid #0a66b7;
}

.be-colorpicker__modal-options {
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.be-colorpicker__cube {
  width: 22px;
  height: 22px;
}

.be-colorpicker__option {
  width: 22px;
  min-width: 22px;
  height: 22px;
  min-height: 20px;
  padding: 0;
  border: none;
  margin: 3px;

  &:hover {
    @include md-shadow(3);
  }

  &:active {
    @include md-shadow(3);
  }
}

.be-colorpicker__option--active {
  box-shadow: 0 0 2px 2px #bfbdbd;
}

/// Embed
.be-embedded__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-embedded__modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 235px;
  height: 180px;
  padding: 15px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.be-embedded__modal-header {
  display: flex;
  font-size: 15px;
}

.be-embedded__modal-header-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.be-embedded__modal-header-label {
  width: 95px;
  background: #6eb8d4;
  border: 1px solid #f1f1f1;
  border-bottom: 2px solid #0a66b7;
  margin-top: 5px;
}

.be-embedded__modal-link-section {
  display: flex;
  flex-direction: column;
}

.be-embedded__modal-link-input {
  width: 95%;
  height: 35px;
  padding: 0 5px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 10px 0;
  font-size: 15px;

  &:focus {
    outline: none;
  }
}

.be-embedded__modal-btn-section {
  display: flex;
  justify-content: center;
}

.be-embedded__modal-btn {
  width: 75px;
  height: 30px;
  background: $white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 0 3px;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 0px #bfbdbd;
  }

  &:active {
    box-shadow: 1px 1px 0px #bfbdbd inset;
  }

  &:focus {
    outline: none !important;
  }

  &:disabled {
    background: #ece9e9;
  }
}

.be-embedded__modal-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.be-embedded__modal-size-input {
  width: 45%;
  height: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  font-size: 12px;

  &:focus {
    outline: none;
  }
}

/// Emoji

.be-emoji__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-emoji__modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  width: 235px;
  height: 180px;
  padding: 15px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.be-emoji__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 2.5px;
  font-size: 22px;
  cursor: pointer;
}

/// Font

.be-fontfamily__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-fontfamily__dropdown {
  width: 115px;
}

.be-fontfamily__placeholder {
  overflow: hidden;
  max-width: 90px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.be-fontfamily__option-wrapper {
  width: 140px;
}

.be-fontsize__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-fontsize__dropdown {
  min-width: 40px;
}

.be-fontsize__option {
  display: flex;
  justify-content: center;
}

/// history

.be-history__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-history__dropdown-option {
  display: flex;
  justify-content: center;
  height: 40px;
}

.be-history__dropdown {
  width: 50px;
}

/// Image

.be-image__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-image__modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 200px;
  padding: 15px;
  background: $white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.be-image__modal-header {
  display: flex;
  margin: 10px 0;
  font-size: 15px;
}

.be-image__modal-header-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.be-image__modal-header-label {
  width: 80px;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  margin-top: 5px;
}

.be-image__modal-header-label--highlighted {
  background: #6eb8d4;
  border-bottom: 2px solid #0a66b7;
}

.be-image__modal-upload-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  color: gray;
  background-color: #f1f1f1;
  border: none;
  margin: 10px 0;
  outline: 2px dashed gray;
  outline-offset: -10px;
  font-size: 15px;
  cursor: pointer;
}

.be-image__modal-upload-option-highlighted {
  outline: 2px dashed #0a66b7;
}

.be-image__modal-upload-option-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  cursor: pointer;

  span {
    padding: 0 20px;
  }
}

.be-image__modal-upload-option-input {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.be-image__modal-url-section {
  display: block;
}

.be-image__modal-url-input {
  width: 95%;
  height: 35px;
  padding: 0 5px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 30px 0 20px;
  font-size: 15px;
}

.be-image__modal-btn-section {
  margin: 10px auto 0;
}

.be-image__modal-url-input:focus {
  outline: none;
}

.be-image__modal-btn {
  width: 75px;
  height: 30px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin: 0 5px;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 0px #bfbdbd;
  }

  &:active {
    box-shadow: 1px 1px 0px #bfbdbd inset;
  }

  &:focus {
    outline: none !important;
  }

  &:disabled {
    background: #ece9e9;
  }
}

.be-image__modal-spinner {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/// Inline

.be-inline__wrapper {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.be-inline__dropdown {
  width: 50px;
}

.be-inline__dropdown-option {
  display: flex;
  justify-content: center;
  height: 40px;
}

/// Link

.be-link__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-link__dropdown {
  width: 50px;
}

.be-link__dropdown-option {
  display: flex;
  justify-content: center;
  height: 40px;
}

.be-link__dropdown-placeholder {
  margin-left: 8px;
}

.be-link__modal {
  @include md-shadow(2);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 205px;
  padding: 15px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.be-link__modal-label {
  font-size: 15px;
}

.be-link__modal-input {
  height: 25px;
  padding: 0 5px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 15px;

  &:focus {
    outline: none;
  }
}

.be-link__modal-button-section {
  margin: 0 auto;
}

.be-link__modal-target-option {
  margin-bottom: 20px;

  > span {
    margin-left: 5px;
  }
}

.be-link__modal-btn {
  width: 75px;
  height: 30px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  margin-left: 10px;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 0px #bfbdbd;
  }

  &:active {
    box-shadow: 1px 1px 0px #bfbdbd inset;
  }

  &:focus {
    outline: none !important;
  }

  &:disabled {
    background: #ece9e9;
  }
}

.be-link__dropdown-option {
  display: flex;
  justify-content: center;
  height: 40px;
}

.be-history__dropdown {
  width: 50px;
}

/// List

.be-list__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-list__dropdown {
  z-index: 90;
  width: 50px;
}

.be-list__dropdown-option {
  display: flex;
  justify-content: center;
  height: 40px;
}

/// remove

.be-remove__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/// textalign

.be-textalign__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.be-textalign__dropdown {
  z-index: 90;
  width: 50px;
}

.be-textalign__dropdown-option {
  display: flex;
  justify-content: center;
  height: 40px;
}

.be-right-aligned-block {
  text-align: right;
}

.be-left-aligned-block {
  text-align: left;
}

.be-center-aligned-block {
  text-align: center;
}

.be-justify-aligned-block {
  text-align: justify;
}

.be-right-aligned-block > div,
.be-left-aligned-block > div,
.be-center-aligned-block > div,
.be-justify-aligned-block > div {
  display: inline;
}

/// spinner

.be-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  > div {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/// decorators

.be-link-decorator-wrapper {
  position: relative;
}

.be-link-decorator-icon {
  position: absolute;
  top: 0;
  left: 40%;
  background-color: white;
  cursor: pointer;
}

.be-hashtag-link,
.be-mention-link {
  padding: 1px 2px;
  color: #1236ff;
  background-color: #f0fbff;
  border-radius: 2px;
  text-decoration: none;
}

.be-suggestion-wrapper {
  position: relative;
}

.be-suggestion-dropdown {
  position: absolute;
  z-index: 100;
  display: flex;
  overflow: auto;
  flex-direction: column;
  min-width: 100px;
  max-height: 150px;
  background: white;
  border: 1px solid #f1f1f1;
}

.be-suggestion-option {
  padding: 7px 5px;
  border-bottom: 1px solid #f1f1f1;
}

.be-suggestion-option-active {
  background-color: #f1f1f1;
}

/// image

.be-image-alignment-options-popup {
  position: absolute;
  z-index: 100;
  display: flex;
  width: 105px;
  padding: 5px 2px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  cursor: pointer;
}

.be-image-alignment-option-left {
  justify-content: flex-start;
}

.be-image-alignment-option {
  width: 15px;
  min-width: 15px;
  height: 15px;
}

.be-image-alignment,
.be-image-imagewrapper {
  position: relative;
}

.be-image-center {
  display: flex;
  justify-content: center;
}

.be-image-left {
  display: flex;
}

.be-image-right {
  display: flex;
  justify-content: flex-end;
}

.be-image-alignment-options-popup-right {
  right: 0;
}
