/// @group headline

.#{$boldr-ns}h {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  text-rendering: optimizeLegibility;
  color: $heading-font-color;
  font-stretch: normal;
  margin: 0;
}

.#{$boldr-ns}h--light {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  text-rendering: optimizeLegibility;
  line-height: $heading-line-height;
  color: $heading-font-color-light;
  font-stretch: normal;
  margin: 0;
}

.#{$boldr-ns}h1 {
  font-weight: $heading-font-weight;
  font-size: $size-1;
}

.#{$boldr-ns}h2 {
  font-weight: $heading-font-weight;
  font-size: $size-2;
}

.#{$boldr-ns}h3 {
  font-weight: $heading-font-weight;
  font-size: $size-3;
}

.#{$boldr-ns}h4 {
  font-weight: $heading-font-weight;
  font-size: $size-4;
}
.#{$boldr-ns}h5 {
  font-weight: $heading-font-weight;
  font-size: $size-5;
}
.#{$boldr-ns}h6 {
  font-weight: $heading-font-weight;
  font-size: $size-6;
}
