.#{$boldr-ns}level__item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin-left: 2px;
  margin-right: 2px;
  .title,
  .subtitle {
    margin-bottom: 0;
  }

  // Responsiveness
  @include mobile() {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}

.#{$boldr-ns}level__left,
.#{$boldr-ns}level-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  .#{$boldr-ns}level__item {
    &:not(:last-child) {
      margin-right: 0.75rem;
    }

    // Modifiers
    &.is-flexible {
      flex-grow: 1;
    }
  }
}

.#{$boldr-ns}level__left {
  align-items: center;
  justify-content: flex-start;

  // Responsiveness
  @include mobile() {
    & + .#{$boldr-ns}level__right {
      margin-top: 1.5rem;
    }
  }

  @include tablet() {
    display: flex;
  }
}

.#{$boldr-ns}level__right {
  align-items: center;
  justify-content: flex-end;

  // Responsiveness
  @include tablet() {
    display: flex;
  }
}

.#{$boldr-ns}level {
  @include block();

  align-items: center;
  justify-content: space-between;

  code {
    border-radius: $radius;
  }

  img {
    display: inline-block;
    vertical-align: top;
  }

  // Modifiers
  &.is-mobile {
    display: flex;

    .#{$boldr-ns}level__left,
    .#{$boldr-ns}level__right {
      display: flex;
    }

    .#{$boldr-ns}level__left + .#{$boldr-ns}level__right {
      margin-top: 0;
    }

    .#{$boldr-ns}level__item {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:not(.is-narrow) {
        flex-grow: 1;
      }
    }
  }

  // Responsiveness
  @include tablet() {
    display: flex;

    & > .#{$boldr-ns}level__item {
      &:not(.is-narrow) {
        flex-grow: 1;
      }
    }
  }
}
