

.#{$boldr-ns}select {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 10px;
  outline: none;
  position: relative;
  text-align: left;
  user-select: none;
  width: 160px;
  vertical-align: middle;

  &.disabled {
    color: #cacaca;
    cursor: not-allowed;

    .#{$boldr-ns}select-input,
    .#{$boldr-ns}select-text,
    .#{$boldr-ns}select-tags {
      border-color: #e5e5e5;
      background-color: $select-c-bg-gray;

      &::after {
        opacity: 0.25;
      }
    }
  }
}

.#{$boldr-ns}select-input,
.#{$boldr-ns}select-text,
.#{$boldr-ns}select-tags {
  box-sizing: border-box;
  border: 1px solid $select-c-border;
  border-radius: 2px;
  display: inline-block;
  min-height: 30px;
  max-height: 76px;
  outline: none;
  padding: 5px 10px;
  transition: border-color 0.25s;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.#{$boldr-ns}select-simple {
  color: $select-c-blue;

  &::after {
    content: '';
    border-left: 4px solid transparent;
    border-top: 6px solid $select-c-blue;
    border-right: 4px solid transparent;
    display: inline-block;
    margin-left: 5px;
    height: 1px;
    transition: transform 0.25s;
  }
}

.#{$boldr-ns}select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 20px 5px 10px;

  &::after {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAM1BMVEUAAAAzMzMzMzMzMzMzMzMzMzM0NDQ0NDQ1NTU1NTU9PT1VVVU0NDQzMzMzMzM1NTUzMzOoQ7gOAAAAEHRSTlMA99vkxpd9STUhCgPOzGhlqqcGJgAAAEBJREFUCNdFy8kRwCAMwEDZ3JDD/VebCXhgf3qIR83pi9gmXCduyokCyVwCuvrfAarMuzLlPzLLiGZx4FoIDeADc4gEoYNfTDsAAAAASUVORK5CYII=)
      no-repeat;
    background-size: 6px 5px;
    content: '';
    height: 5px;
    margin-top: -3px;
    position: absolute;
    right: 10px;
    top: 50%;
    transition: transform 0.25s;
    width: 6px;
  }
}

.#{$boldr-ns}select-tags {
  padding: 2px 5px;
  overflow-y: auto;
  margin-bottom: -5px;
  line-height: 24px;

  &::-webkit-scrollbar {
    display: none;
  }

  .#{$boldr-ns}select-inner {
    border: 0;
    display: inline-block;
    outline: none;
  }

  .#{$boldr-ns}select-tag {
    background-color: $select-c-bg-gray;
    border: 1px solid $select-c-border;
    border-radius: 2px;
    display: inline-block;
    margin: 2px 0;
    margin-right: 2px;
    padding: 0 4px;
    line-height: 18px;
  }

  .#{$boldr-ns}select-delete {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAACampqbm5uZmZn/DnGVAAAAA3RSTlMAnUqokJgHAAAAPklEQVQI12PQYACivQwMdQz7HRj/MchfYP/CwP5F/gID4996BwaG+r8MDAzyXyAEmAuWACsBKwZrAxsANgoAoL4XU6vB5h4AAAAASUVORK5CYII=)
      no-repeat;
    background-size: 8px;
    display: inline-block;
    height: 8px;
    margin-left: 2px;
    width: 8px;
  }
}

.#{$boldr-ns}select-popup {
  box-shadow: 0 1px 4px $select-c-half-black;
  left: 0;
  outline: none;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-top: 2px;
  background-color: $select-c-white;
  max-height: 224px;

  &::-webkit-scrollbar {
    display: none;
  }

  .#{$boldr-ns}select-option,
  .#{$boldr-ns}select-filter,
  .#{$boldr-ns}select-empty {
    background-color: $select-c-white;
    display: block;
    outline: none;
    padding: 5px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .#{$boldr-ns}select-search {
    position: relative;
    box-sizing: border-box;

    &::before {
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAM1BMVEUAAABmZmZmZmZnZ2dnZ2dmZmZnZ2dmZmZsbGxnZ2dmZmZoaGhnZ2dmZmZnZ2dmZmZmZmYOy3DdAAAAEHRSTlMAVttEnOWJNwzzpVHsz8ZQ9cP58AAAAItJREFUKM+FkdsSgCAIRFXEa7f//9okSsqRaZ8WjrOoGJYtLmdXrPmquuOWq+9+OF4KQ39C6lX6mFL0l33SKB+BPSDNYW/pEPWZUMV3K5QjAymt9KQoIPas3FwSkFqZNbBoUZs23GvXBeWBq/YlQT5xkP0nsqg1dCKrXTYPzQkZxGTXCJoZ0YDZEeEEs9MNoPE7LN4AAAAASUVORK5CYII=)
        no-repeat;
      background-position: center;
      background-size: 12px;
      content: '';
      height: 100%;
      left: 10px;
      position: absolute;
      width: 12px;
    }
  }

  .#{$boldr-ns}select-filter {
    border-color: $select-c-light-border;
    border-style: solid;
    border-width: 0 0 1px;
    padding-left: 30px;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
  }

  .#{$boldr-ns}select-option {
    &.current,
    &:hover {
      background-color: $select-c-blue;
      border-color: $select-c-blue;
      color: $select-c-white;
    }

    &.active {
      color: $select-c-blue;
    }

    &.active:hover,
    &.active.current {
      color: $select-c-white;
    }
  }

  .#{$boldr-ns}select-empty {
    color: $select-c-light-gray;
  }
}

.has-error {
  :not(.no-error) {
    & > .#{$boldr-ns}select-input,
    & > .#{$boldr-ns}select-text,
    & > .#{$boldr-ns}select-tags {
      border: 1px solid $select-error-border-color;
      color: #f44;
    }
  }
}
