//colors
$color_alto_approx: #d9d9d9;
$color_alabaster_approx: #f9f9f9;
$white: #fff;
$color_dodger_blue_approx: #108ee9;
$black_43: rgba(0, 0, 0, 0.43);
$black_65: rgba(0, 0, 0, 0.65);
$black_25: rgba(0, 0, 0, 0.25);
$color_picton_blue_approx: #49a9ee;
$color_lochmara_approx: #0e77ca;
$color_gray_nurse_approx: #e9e9e9;
$color: #666;
$tabbg: #f8f8f8;
$disablecolor: #c9c9c9;
$slidercolor: #0099fc;
//@extend-elements
//original selectors
//.boldr-tabs-tab-prev, .boldr-tabs-tab-next
%extend_1 {
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
	z-index: 2;
	width: 0;
	height: 100%;
	line-height: 32px;
	cursor: pointer;
	border: 0;
	background-color: transparent;
	position: absolute;
	text-align: center;
	color: $black_43;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	opacity: 0;
	pointer-events: none;
}

//original selectors
//.boldr-tabs-tab-prev.boldr-tabs-tab-arrow-show, .boldr-tabs-tab-next.boldr-tabs-tab-arrow-show
%extend_2 {
	opacity: 1;
	width: 32px;
	height: 100%;
	pointer-events: auto;
}

//original selectors
//.boldr-tabs-tab-prev-icon, .boldr-tabs-tab-next-icon
%extend_3 {
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	line-height: inherit;
	vertical-align: baseline;
	position: absolute;
	top: 50%;
	left: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: none;
}

//original selectors
//.boldr-tabs-tab-prev-icon:before, .boldr-tabs-tab-next-icon:before
%extend_4 {
	display: inline-block;
	font-size: 10px \9;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(0.83333333) rotate(0deg);
	zoom: 1;
}

//original selectors
//.boldr-tabs-vertical >.boldr-tabs-bar-tab-prev, .boldr-tabs-vertical >.boldr-tabs-bar-tab-next
%extend_5 {
	width: 32px;
	height: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.boldr-tabs {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	zoom: 1;
	color: $black_65;
	&.boldr-tabs-card {
		> .boldr-tabs-bar {
			.boldr-tabs-ink-bar {
				visibility: hidden;
			}
			.boldr-tabs-tab {
				margin: 0;
				border: 1px solid $color_alto_approx;
				border-bottom: 0;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 4px 4px 0 0;
				background: $color_alabaster_approx;
				margin-right: 2px;
				padding: 5px 16px 4px;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			}
			.boldr-tabs-tab-active {
				background: $white;
				border-color: $color_alto_approx;
				color: $color_dodger_blue_approx;
				padding-bottom: 5px;
			}
			.boldr-tabs-tab-inactive {
				padding: 0;
			}
			.boldr-tabs-nav-wrap {
				margin-bottom: 0;
			}
		}
		.boldr-tabs-content > {
			.boldr-tabs-tabpane {
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: none !important;
			}
			.boldr-tabs-tabpane-inactive {
				overflow: hidden;
			}
		}
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
		visibility: hidden;
		font-size: 0;
		height: 0;
	}
	&.boldr-tabs-editable-card .boldr-tabs-content > {
		.boldr-tabs-tabpane {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: none !important;
		}
		.boldr-tabs-tabpane-inactive {
			overflow: hidden;
		}
	}
	&:not(.boldr-tabs-vertical) > {
		.boldr-tabs-content {
			width: 100%;
			> {
				.boldr-tabs-tabpane {
					flex-shrink: 0;
					width: 100%;
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: opacity .45s;
					opacity: 1;
				}
				.boldr-tabs-tabpane-inactive {
					opacity: 0;
					height: 0;
					padding: 0 !important;
					pointer-events: none;
				}
			}
		}
		.boldr-tabs-content-animated {
			display: flex;
			flex-direction: row;
			will-change: margin-left;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
	}
}
:root {
	.boldr-tabs-tab-prev {
		filter: none;
	}
	.boldr-tabs.boldr-tabs-card > .boldr-tabs-bar .boldr-tabs-tab {
		filter: none;
		font-size: 12px;
	}
	.boldr-tabs-extra-content .boldr-tabs-new-tab {
		filter: none;
		font-size: 12px;
	}
	.boldr-tabs-tab-prev-icon:before {
		filter: none;
		font-size: 12px;
	}
	.boldr-tabs-tab-next-icon:before {
		filter: none;
		font-size: 12px;
	}
}
.boldr-tabs-extra-content {
	line-height: 32px;
	.boldr-tabs-new-tab {
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		cursor: pointer;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 4px;
		border: 1px solid $color_alto_approx;
		display: inline-block;
		font-size: 10px \9;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(0.83333333) rotate(0deg);
		zoom: 1;
		color: $black_43;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all .3s;
		&:hover {
			color: $color_dodger_blue_approx;
			border-color: $color_dodger_blue_approx;
		}
	}
}
.boldr-tabs-vertical {
	&.boldr-tabs-card {
		> .boldr-tabs-bar {
			.boldr-tabs-nav-container {
				height: auto;
			}
			.boldr-tabs-tab {
				border-bottom: 1px solid $color_alto_approx;
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 8px;
				}
			}
			.boldr-tabs-tab-active {
				padding-bottom: 4px;
			}
			.boldr-tabs-new-tab {
				width: 90%;
			}
		}
		&.boldr-tabs-left > .boldr-tabs-bar {
			.boldr-tabs-nav-wrap {
				margin-right: 0;
			}
			.boldr-tabs-tab {
				border-right: 0;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 4px 0 0 4px;
				margin-right: 1px;
			}
			.boldr-tabs-tab-active {
				margin-right: -1px;
				padding-right: 18px;
			}
		}
		&.boldr-tabs-right > .boldr-tabs-bar {
			.boldr-tabs-nav-wrap {
				margin-left: 0;
			}
			.boldr-tabs-tab {
				border-left: 0;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0 4px 4px 0;
				margin-left: 1px;
			}
			.boldr-tabs-tab-active {
				margin-left: -1px;
				padding-left: 18px;
			}
		}
	}
	> {
		.boldr-tabs-bar {
			border-bottom: 0;
			height: 100%;
			.boldr-tabs-tab {
				float: none;
				margin-right: 0;
				margin-bottom: 16px;
				display: block;
				padding: 8px 24px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.boldr-tabs-extra-content {
				text-align: center;
			}
			.boldr-tabs-nav-scroll {
				width: auto;
			}
			.boldr-tabs-nav-container {
				height: 100%;
				margin-bottom: 0;
				&.boldr-tabs-nav-container-scrolling {
					padding: 32px 0;
				}
			}
			.boldr-tabs-nav-wrap {
				height: 100%;
				margin-bottom: 0;
			}
			.boldr-tabs-nav {
				width: 100%;
			}
			.boldr-tabs-ink-bar {
				width: 2px;
				left: auto;
				height: auto;
				top: 0;
			}
			.boldr-tabs-tab-next {
				width: 100%;
				bottom: 0;
				height: 32px;
			}
			.boldr-tabs-tab-prev {
				top: 0;
				width: 100%;
				height: 32px;
			}
			.boldr-tabs-tab-next-icon:before {
				content: "\E61D";
			}
			.boldr-tabs-tab-prev-icon:before {
				content: "\E61E";
			}
		}
		.boldr-tabs-bar-tab-prev {
			@extend %extend_5;
			&.boldr-tabs-tab-arrow-show {
				width: 100%;
				height: 32px;
			}
		}
		.boldr-tabs-bar-tab-next {
			@extend %extend_5;
			&.boldr-tabs-tab-arrow-show {
				width: 100%;
				height: 32px;
			}
		}
		.boldr-tabs-content {
			overflow: hidden;
			width: auto;
			margin-top: 0 !important;
			> .boldr-tabs-tabpane-inactive {
				display: none;
			}
		}
		.boldr-tabs-content-animated {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: none !important;
			margin-left: 0 !important;
		}
	}
	&.boldr-tabs-left > {
		.boldr-tabs-bar {
			float: left;
			border-right: 1px solid $color_gray_nurse_approx;
			margin-right: -1px;
			margin-bottom: 0;
			.boldr-tabs-tab {
				text-align: right;
			}
			.boldr-tabs-nav-container {
				margin-right: -1px;
			}
			.boldr-tabs-nav-wrap {
				margin-right: -1px;
			}
			.boldr-tabs-ink-bar {
				right: 1px;
			}
		}
		.boldr-tabs-content {
			padding-left: 24px;
			border-left: 1px solid $color_gray_nurse_approx;
		}
	}
	&.boldr-tabs-right > {
		.boldr-tabs-bar {
			float: right;
			border-left: 1px solid $color_gray_nurse_approx;
			margin-left: -1px;
			margin-bottom: 0;
			.boldr-tabs-nav-container {
				margin-left: -1px;
			}
			.boldr-tabs-nav-wrap {
				margin-left: -1px;
			}
			.boldr-tabs-ink-bar {
				left: 1px;
			}
		}
		.boldr-tabs-content {
			padding-right: 24px;
			border-right: 1px solid $color_gray_nurse_approx;
		}
	}
}
.boldr-tabs-ink-bar {
	z-index: 1;
	position: absolute;
	left: 0;
	bottom: 1px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	height: 2px;
	background-color: $color_dodger_blue_approx;
	//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
	transform-origin: 0 0;
}
.boldr-tabs-bar {
	border-bottom: 1px solid $color_alto_approx;
	margin-bottom: 16px;
	outline: none;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.boldr-tabs-nav-container {
	overflow: hidden;
	font-size: 14px;
	line-height: 1.5;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	position: relative;
	white-space: nowrap;
	margin-bottom: -1px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	zoom: 1;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
		visibility: hidden;
		font-size: 0;
		height: 0;
	}
}
.boldr-tabs-nav-container-scrolling {
	padding-left: 32px;
	padding-right: 32px;
}
.boldr-tabs-tab-prev {
	@extend %extend_1;
	left: 0;
	&.boldr-tabs-tab-arrow-show {
		@extend %extend_2;
	}
	&:hover {
		color: $black_65;
	}
}
.boldr-tabs-tab-next {
	@extend %extend_1;
	right: 2px;
	&.boldr-tabs-tab-arrow-show {
		@extend %extend_2;
	}
	&:hover {
		color: $black_65;
	}
}
.boldr-tabs-tab-prev-icon {
	@extend %extend_3;
	&:before {
		@extend %extend_4;
		content: "\E620";
	}
}
.boldr-tabs-tab-next-icon {
	@extend %extend_3;
	&:before {
		@extend %extend_4;
		content: "\E61F";
	}
}
.boldr-tabs-tab-btn-disabled {
	cursor: not-allowed;
	color: $black_25;
	&:hover {
		color: $black_25;
	}
}
.boldr-tabs-nav-wrap {
	overflow: hidden;
	margin-bottom: -1px;
}
.boldr-tabs-nav-scroll {
	overflow: hidden;
	white-space: nowrap;
}
.boldr-tabs-nav {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	padding-left: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	position: relative;
	margin: 0;
	list-style: none;
	display: inline-block;
	&:before {
		display: table;
		content: " ";
	}
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
	.boldr-tabs-tab-disabled {
		pointer-events: none;
		cursor: default;
		color: $black_25;
	}
	.boldr-tabs-tab {
		display: inline-block;
		height: 100%;
		margin-right: 24px;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		position: relative;
		padding: 8px 20px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		cursor: pointer;
		text-decoration: none;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: $color_picton_blue_approx;
		}
		&:active {
			color: $color_lochmara_approx;
		}
	}
	.boldr-tabs-tab-active {
		color: $color_dodger_blue_approx;
	}
}
.boldr-tabs-mini {
	.boldr-tabs-nav-container {
		font-size: 12px;
	}
	.boldr-tabs-tab {
		margin-right: 0;
		padding: 8px 16px;
	}
}
.boldr-tabs-bottom {
	.boldr-tabs-ink-bar-animated {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	> .boldr-tabs-bar {
		margin-bottom: 0;
		margin-top: 16px;
	}
}

.boldr-tabs.boldr-tabs-card > .boldr-tabs-bar .boldr-tabs-nav-container {
	height: 32px;
}
.boldr-tabs-top .boldr-tabs-ink-bar-animated {
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.boldr-tabs-left .boldr-tabs-ink-bar-animated {
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.boldr-tabs-right .boldr-tabs-ink-bar-animated {
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.boldr-tabs-no-animation > {
	.boldr-tabs-content-animated {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: none !important;
		margin-left: 0 !important;
	}
	.boldr-tabs-content > .boldr-tabs-tabpane-inactive {
		display: none;
	}
}
