.#{$dash-ns}footer {
  height: $dash-footer-height;
  line-height: $dash-footer-line-height;
  color: $dash-footer-color;
  background: $dash-footer-bg;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 13px 0;
}

.#{$dash-ns}footer-copyright {
  padding-left: 25px;
}

.#{$dash-ns}footer-powered {
  float: right;
  padding-right: 15px;
};
