*,
*:after,
*:before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: $font-size-base;
  box-sizing: border-box;
  color: $text-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $body-background;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: 300;
  line-height: $line-height-base;
  background-color: $body-background;
}

a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  transition: none $speed $easing;

  &:hover,
  &:active,
  &:focus {
    color: darken($primary-color, 10%);
  }
}

hr {
  background-color: $border-color;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

img {
  max-width: 100%;
}

.boldr-icon {
  display: inline-block;
}

.boldrui-dash-main .container-fluid {
  padding: 0 30px;
}

:root {
  :focus {
    outline: none !important;
  }
}
