.boldrui-sh__nav-dropdown-list {

    @media (min-width: 992px) {
        padding: 5px 20px;
    }
    float: none;
    list-style-type: none;
    width: 100%;
    height: auto;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;

    ul {
        list-style-type: none;
        padding: 0;
    }
}

.stackedList {
    height: auto;
}
