////
/// @group colors
////

/// @type Color
$black: rgba(0, 0, 0, 1);
/// @type Color
$black-transparent: rgba(0, 0, 0, 0.87);
/// @type Color
$white: rgba(255, 255, 255, 1);
/// @type Color
$snow: #f5f5f5;
/// @type Color
$cloud: #e5e5e5;
$gray-light: #818a91;
/// @type Color
$mirage: rgba(27, 27, 37, 1);
$grayish: #a1a1a1;
$lily-white: #ebebeb;

/// @type Color
$dark-navy: #262b33;
$iris-blue: #00bcd4;
$iris-blue-alt: #00b4d0;
$outer-space: #2e363d;
$big-stone: #333c44;
/// @type Color
$grape: rgba(64, 64, 78, 1);
/// @type Color
$ocean: #1c3050;
/// @type Color
$water: #03a9f4;
/// @type Color
$navy: #01579b; // $md-light-blue-900
/// @type Color
$gunmetal: #2d343c;
$turtle: #8bc34a;
$lavender: #7e57c2;
$golden: #ffca28;
$carmine-pink: #f44336;

$paletteB1  : #3899EC;
$paletteB2  : #4EB7F5;
$paletteB3  : #7FCCF7;
$paletteB4  : #D3EDFF;
$paletteB5  : #EAF7FF;

$paletteD1  : #162D3D;
$paletteD2  : #2B5672;
$paletteD3  : #7A92A5;
$paletteD4  : #D9E1E8;
$paletteD5  : #F0F3F5;
$paletteD6  : #FFFFFF;

$paletteE1  : #2B81CB;
$paletteE2  : #0D487F;
$paletteE3  : rgba(255,255,255,0.96);
$paletteE4  : #2D4150;
$paletteE5  : #B1DDf8;
$paletteE6  : #B6C1CD;
$paletteE7  : #5EFFFF;
$paletteE8  : #18D2DE;

$paletteP1  : #AA4DC8;
$paletteP2  : #BB71D3;
$paletteP3  : #E5C9EE;
$paletteP4  : #EEDBF4;
