
.sidebar{
  position: relative;
  width: 200px;
  transition: all .2s cubic-bezier(.55, .055, .675, .19) 0s;

  flex-shrink: 0;
}

.sidebar--closed{
  margin: 0 0 0 -200px;
  transition: all .2s cubic-bezier(.215, .61, .355, 1) 0s;
}

.sidebar__toggle{
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 200px;
  width: 50px;
  height: 50px;
  padding: 10px 0 0 0;
  cursor: pointer;
  transition: all .3s cubic-bezier(.215, .61, .355, 1) 0s;
  text-align: center;

  &:hover{
    background: rgba(0, 0, 0, .4);
  }
}

.sidebar__toggle__icon{
  font-size: 20px;
  color: $accent-color;
}

.sidebar__toggle__icon--closed{
  color: $text-color;
}

.sidebar__inner {
  background-color: $mercury;
  .ui.vertical.menu {
    width: 175px;
  }
}
