@import '~boldr-ui/lib/styles/boldrui';
@import "bootstrap-variables";
@import "vendor/bootstrap/variables";
@import "custom-variables";
@import "vendor/bootstrap/mixins";
@import "core/mixins";

// Core CSS
@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/type";
@import "vendor/bootstrap/images";
@import "vendor/bootstrap/code";
@import "vendor/bootstrap/grid";

@import "vendor/bootstrap/tables";
@import "vendor/bootstrap_custom/tables";

@import "vendor/bootstrap/forms";

@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap_custom/buttons";

// Components
@import "vendor/bootstrap/transitions";

@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap_custom/dropdown";

@import "vendor/bootstrap/button-group";

@import "vendor/bootstrap/input-group";
@import "vendor/bootstrap_custom/input-group";

//@import "custom-forms";

@import "vendor/bootstrap/nav";
@import "vendor/bootstrap_custom/nav";

@import "vendor/bootstrap/navbar";
@import "vendor/bootstrap_custom/navbar";

@import "vendor/bootstrap/card";
@import "vendor/bootstrap_custom/card";

@import "vendor/bootstrap/breadcrumb";
@import "vendor/bootstrap_custom/breadcrumb";

@import "vendor/bootstrap/pagination";

@import "vendor/bootstrap/badge";
@import "vendor/bootstrap_custom/badge";

//@import "jumbotron";
@import "vendor/bootstrap/alert";

@import "vendor/bootstrap/progress";
@import "vendor/bootstrap_custom/progress";

@import "vendor/bootstrap/media";
@import "vendor/bootstrap/list-group";
@import "vendor/bootstrap/responsive-embed";
@import "vendor/bootstrap/close";

// Components w/ JavaScript
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap_custom/modal";

@import "vendor/bootstrap/tooltip";
@import "vendor/bootstrap/popover";
@import "vendor/bootstrap/carousel";

// Utility classes
@import "vendor/bootstrap/utilities";

// CoreUI Styles
// Additional typography
@import "core/typography";

// Animations
@import "core/animate";

// Core files
@import "core/grid";
@import "core/layout";
@import "core/navigation";
@import "core/aside";
@import "core/loading";
@import "core/widgets";
@import "core/footer";
@import "core/buttons";
@import "core/others";
@import "core/breadcrumb-menu";
@import "core/avatars";
@import "core/callout";
// @import "core/switches";
// @import "core/charts";
@import "core/utilities-border";
@import "core/temp";
@import 'abstracts/all';

// @include react-md-everything;

@import 'base/all';
// @import 'components/all';

.md-dialog {
  width: 525px;
}
.opacity-enter {
  opacity: 0;

  &.opacity-enter-active {
    opacity: 1;
    transition-duration: 1000ms;
    transition-property: opacity;
    transition-timing-function: $md-transition-deceleration;
  }
}
.boldr-paperoverride {
  background-color: $white;
}
