@import '~react-md/src/scss/react-md';
@import 'vendor/normalize';
@import 'abstracts/all';

@include react-md-everything;

@import 'base/all';
@import 'components/all';
@import 'vendor/griddle';

.md-dialog {
  width: 525px;
}
.opacity-enter {
  opacity: 0;

  &.opacity-enter-active {
    opacity: 1;
    transition-duration: 1000ms;
    transition-property: opacity;
    transition-timing-function: $md-transition-deceleration;
  }
}
.boldr-paperoverride {
  background-color: $white;
}
