.#{$boldr-ns}navbar-default {
    position: relative;
    z-index: 1000;
    width: 100%;
    box-shadow: $boldrui-navbar-shadow;
}

.#{$boldr-ns}navbar-static {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: $boldrui-navbar-shadow;

    .#{$boldr-ns}navbar-checkbox {
        &:checked ~ .#{$boldr-ns}navbar-menu {
            position: absolute;
        }
    }
}

.#{$boldr-ns}navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: $boldrui-navbar-shadow;
}

.#{$boldr-ns}navbar-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: $boldrui-navbar-shadow;
}
