.primary-hero {
  padding-top: 100px;
  height: 625px;
  width: 100%;
  background-color: $water;
  position: relative;
  overflow: hidden;
  color: $text-color;
  text-align: right;
  border-bottom: 1px solid #444;
}

.hero__tag {
  font-size: 4em;
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-bottom: 0.1em;
}
