.boldrui-sh__nav-dropdown-list {
	float: none;
	width: 100%;
	margin: 0;
	height: auto;
	padding: 0;
	padding-bottom: 15px;
	list-style-type: none;

	ul {
		list-style-type: none;
		padding: 0;
	}

	@media (min-width: 992px) {
		padding: 5px 20px;
	}
}

.stackedList {
	height: auto;
}
