.boldrui-cont-promo__wrapper {
  position: relative;
  padding: 6rem 0;
}

.boldrui-cont-promo__bright {
  background: #fff;
}

.boldrui-cont-promo__secondary {
  background: $secondary-color;
  color: #fff;
}

.boldrui-cont-promo__teritary {
  background: $teritary-color;
}

.boldrui-cont-promo__darkgrey {
  background: $outer-space;
  color: #fff;
}

.boldrui-cont-promo__grey {
  background: $grayish;
}

.boldrui-cont-promo__light-grey {
  background: $cloud;
}

.boldrui-cont-promo__tiny {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.boldrui-cont-promo__narrow > .boldrui-cont-promo__contents {
  max-width: 900px;
}

.boldrui-cont-promo__wide > .boldrui-cont-promo__contents {
  max-width: none;
  width: 100%;
}

.boldrui-cont-promo__centered {
  text-align: center;
}

.boldrui-cont-promo__contents {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 1700px;
  margin: 0 auto;

  > :last-child {
    margin-bottom: 0;
  }
}
