.boldrui-dropzone {
  border: 1px solid $dark-navy;
}

.boldrui-dropzone__panel {
  height: 250px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.boldrui-dropzone__drop {
  text-align: center;
  padding-top: 100px;
}

.boldrui-dropzone__drop-sm {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.preview {
  position: relative;
  height: 220px;
  width: 200px;
  cursor: move;
}

.preview img {
  max-width: 100%;
  max-height: 100%;
}
.boldrui-dropzone__empty {
  color: #a1a1a1;
  font-size: 16px;
  border: 2px dashed rgba(0,0,0,0.1);
  padding: 80px;
  margin: 20px 20px 0 20px;
  background-color: rgb(255,255,255);
}

.boldrui-dropzone__active {
  background-color: rgba(18,179,117, 0.4);
}
.boldrui-dropzone__reject {
  background-color: rgba(244,67,54,0.8);
}
.boldrui-dropzone__footer {
  background-color: rgba(0,0,0,0.05);
}
