////
/// @group loader
////

@keyframes boldr_uil {
    0% {
        transform: scale(2);
    }

    90% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.#{$boldr-ns}loader {
    text-align: center;
}

.#{$boldr-ns}loader__inner {
    display: inline-block;
}

.#{$boldr-ns}loader svg {
    width: 100px;
}

.#{$boldr-ns}loader__item {
    position: relative;
    width: 200px;
    height: 200px;
    background: none;
    margin-right: auto;
    margin-left: auto;
    transform: scale(0.25);
}

.#{$boldr-ns}loader__item > div {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 40px;
    height: 120px;
    opacity: 0.6;
    background: #207cca;
    animation: boldr_uil 0.8s cubic-bezier(0.01, 0.73, 0.28, 0.93) infinite;
}

.#{$boldr-ns}loader__item > div:nth-of-type(2) {
    left: 80px;
    opacity: 0.8;
    animation-delay: 0.08s;
}

.#{$boldr-ns}loader__item > div:nth-of-type(3) {
    left: 140px;
    opacity: 0.9;
    animation-delay: 0.16s;
}
