$stats-widget-bg: #fff;

.#{$boldr-ns}widget {
    background-color: #fff;
}

.#{$boldr-ns}wiget__activity {
    color: #555;
}

.#{$boldr-ns}widget__stats {
    @include md-shadow(2);
    padding: 1em;
    background-color: $stats-widget-bg;
}
//
// .#{$boldr-ns}widget__stats-label {
// }
//
// .#{$boldr-ns}widget__stats-value {
// }
