.Container {
  background-color: #dedede;
  display: flex;
  height: 95vh;
  padding: 20px;
}

.Board, .BoardJSON {
  overflow-y: auto;
  padding: 10px;
}

.Board {
  background-color: #eee;
  border: 2px dashed #666;
  flex: 2;
}

.BoardJSON {
  flex: 1;
}

.Catalog {
  background-color: #3A3131;
  list-style-type: none;
}

.Element {
  display: inline-block;
}

.Element:hover {
  background-color: #211C1C;
}

.Element:hover .ElementText {
  color: #fff;
}

.Element:not(:first-child) {
  margin-left: 8px;
}

.ElementText {
  color: #ddd;
  cursor: move;
  display: block;
  height: 5vh;
  padding: 10px;
}

.Section {
  background-color: #eee;
  margin: 4px;
  padding: 4px;
}

.Section:not(:first-child) {
  margin-top: 20px;
}

.FormGroup,
.FormGroup > span {
  display: block;
}

.FormGroup:not(:first-child) {
  margin-top: 20px;
}

.FormControl {
  display: block;
  font-size: 18px;
  margin-top: 4px;
  width: 100%;
}

.FormActions {
  margin-top: 20px;
}

.FormActions > button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
}

.FormActions > button:first-child {
  background-color: #bada55;
}

.FormActions > button:last-child {
  background-color: #ffcfcf;
}

.FormActions > button:not(:first-child) {
  margin-left: 10px;
}
