# ==============================================================================
# This is an example environment configuration file.  You can create your own
# .env implementation or pass them via the CLI.
#
# You could also decide to supply some of your environment variables from a .env
# file, and others via the CLI. This allows you to easily store "safe"
# environment variables within this file, and then manage your more sensitive
# environment variables seperately.
# ==============================================================================

BOLDR__SERVER_PORT=3000
BOLDR__DEV_PORT=3001
VERBOSE=TRUE

SERVER_BUNDLE_OUTPUT_PATH=./lib
CLIENT_BUNDLE_OUTPUT_PATH=./public/assets
WEB_PATH=/assets/
