.boldrui-sh__menu-dropdown-listitem{
	position: relative;
	align-items: flex-start;

	&:hover {
		.dropdown-link__text {
			color: #000;
		}

		.dropdown-link__icon {
			opacity: 1;
			-webkit-filter: none;
			filter: none;
		}
	}

	@media (min-width: 992px) {
		display: flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		height: 35px;

		> .dropdown-link__icon {
			max-width: 40px;
			max-height: 40px;
		}
	}

	> a {
		align-items: flex-start;
		justify-content: flex-start;
		cursor: pointer;
		display: flex;
		width: 100%;
		text-decoration: none;
		white-space: nowrap;
		color: rgba(0, 0, 0, 0.64);
		vertical-align: middle;

		@media (min-width: 992px) {
			align-items: center;
			justify-content: center;
		}

		.text,
		.icon {
			display: inline-block;
			vertical-align: middle;

			@media (min-width: 992px) {
				max-width: 20px;
				max-height: 20px;
				margin-right: 15px;
				filter: grayscale(100%);
				opacity: .5;
				transition: opacity .1s, -webkit-filter .1s;
				transition: filter .1s, opacity .1s;
				transition: filter 0.1s, opacity 0.1s, -webkit-filter 0.1s;
			}
		}

		.text {
			padding-top: 0;
			height: 20px;
			max-height: 20px;
		}
	}
}

@media (max-width: 991px) {
	.boldrui-sh__menu-dropdown-listitem > a .dropdown-link__icon {
		display: none;
	}
}
