.boldrui-sh__menu-dropdown-listitem {

    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        vertical-align: middle;

        > .dropdown-link__icon {
            max-width: 40px;
            max-height: 40px;
        }
    }
    position: relative;
    align-items: flex-start;

    &:hover {
        .dropdown-link__text {
            color: #000;
        }

        .dropdown-link__icon {
            opacity: 1;
            filter: none;
        }
    }

    > a {

        @media (min-width: 992px) {
            justify-content: center;
            align-items: center;
        }
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        color: rgba(0, 0, 0, 0.64);
        text-decoration: none;
        vertical-align: middle;
        white-space: nowrap;
        cursor: pointer;

        .text,
        .icon {

            @media (min-width: 992px) {
                max-width: 20px;
                max-height: 20px;
                opacity: 0.5;
                margin-right: 15px;
                filter: grayscale(100%);
                transition: opacity 0.1s, -webkit-filter 0.1s;
                transition: filter 0.1s, opacity 0.1s;
                transition: filter 0.1s, opacity 0.1s, -webkit-filter 0.1s;
            }
            display: inline-block;
            vertical-align: middle;
        }

        .text {
            height: 20px;
            max-height: 20px;
            padding-top: 0;
        }
    }
}

@media (max-width: 991px) {
    .boldrui-sh__menu-dropdown-listitem > a .dropdown-link__icon {
        display: none;
    }
}
