.#{$boldr-ns}menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  margin-left: 0;
  text-align: left;
}

.#{$boldr-ns}menu__icon {
  svg {
    vertical-align: middle;
  }
}

.#{$boldr-ns}menu__text {
  margin-right: 0;
  margin-left: 6px;
  vertical-align: middle;

  .#{$boldr-ns}menu__icon + & {
    margin-right: 0;
    margin-left: 12px;
  }
}

.#{$boldr-ns}menu__item {
  & + & {
    margin-top: 6px;
  }
}

.#{$boldr-ns}menu__btn {
  padding: 0;
  background: none;
  border: none;
  margin: 0;
  outline: none;
  font: inherit;
  cursor: pointer;

  &:hover {
    color: $text-color;
  }
}
