
#Docker only has one process
worker_processes 1;
#A lot of connections ?!
events { worker_connections 1024; }

env API_REMOTE;
env APP_REMOTE;

http {
    server {
        location / {
            proxy_pass ${APP_REMOTE};
        }

        location /api {
            proxy_pass ${API_REMOTE};
        }
    }
}
