.footer__wrap {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 150px;
  margin-top: 50px;
  background-color: #1d2025;
  color: $snow;
}
.boldr__theme-footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 150px;
  margin-top: 50px;
  background-color: #1d2025;
  color: $snow;
}
