$defaultBorderColor: #bbb;
$errorBorderColor: #f44;
$borderRadius: 3px;

.boldrui-form__error {
    color: $error-color;
    margin-bottom: 0.6rem;
    font-weight: 600;
}

.boldrui-form__warning {
    color: $warning-color;
    margin-bottom: 0.6rem;
    font-weight: 600;
}

.boldrui-input__wrapper {
    position: relative;
    display: flex;
    height: 40px;
    max-height: 40px;
    margin-bottom: 2em;
    line-height: 40px;
}

.boldrui-textarea__wrapper {
    height: auto;
    max-height: none;
}

.boldrui-input,
.boldrui-input[type=text],
.boldrui-input[type=password],
.boldrui-input[type=datetime],
.boldrui-input[type=date],
.boldrui-input[type=month],
.boldrui-input[type=time],
.boldrui-input[type=week],
.boldrui-input[type=number],
.boldrui-input[type=email],
.boldrui-input[type=url],
.boldrui-input[type=tel],
.boldrui-input[type=color],
.boldrui-input[type=search],
.boldrui-textarea {
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    min-width: 80px;
    height: 40px;
    padding: 1rem;
    color: $text-color;
    border: 1px solid $defaultBorderColor;
    border-radius: $borderRadius;
    box-shadow: none;
    margin: 0 auto 0.5rem;
    font-size: 12px;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    appearance: none;

    &:focus {
        border: 1px solid $primary-color;
        box-shadow: 0 0 5px #bdf;
        outline: none;
    }
}

.boldrui-textarea[disabled],
.boldrui-input[disabled],
.boldrui-input[readonly] {
    color: #cacaca;
    background-color: #f8f8f8;
    border-color: #e5e5e5;
    cursor: not-allowed;

    &:focus {
        border-color: #e5e5e5;
        box-shadow: none;
    }
}

.boldrui-input__addon-before,
.boldrui-input__addon-after {
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    padding: 0 5px;
    background-color: #e5e5e5;
    border: 1px solid $defaultBorderColor;
    font-size: 12px;
    vertical-align: middle;
}

.boldrui-input__addon-before {
    padding-top: 5px;
    border-right: none;
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;

    svg {
        display: inline-block;
        vertical-align: middle;
    }
}

.boldrui-input__addon-after {
    border-left: none;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
}

.boldrui-input__addons {
    & > .boldrui-input {
        border-radius: 0;
    }

    & > .boldrui-input:first-child {
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }

    & > .boldrui-input[disabled]:first-child {
        border-right: 1px solid $defaultBorderColor;
    }

    & > .boldrui-input:last-child {
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }

    & > .boldrui-input[disabled]:last-child {
        border-left: 1px solid $defaultBorderColor;
    }
}

.boldrui-textarea {
    height: 54px;
    padding: 5px 10px;
    appearance: none;
}

/** placeholder **/
$placeholderColor: #999;

.boldrui-input::-input-placeholder { /* WebKit browsers */
    color: $placeholderColor;
}

.has-error {
    .boldrui-textarea,
    .boldrui-input {
        color: #f44;
        border: 1px solid $errorBorderColor;

        &:focus {
            border-color: $errorBorderColor;
            box-shadow: 0 0 5px #fdd;
        }
    }
}
