.hero {
  height: 625px;
  width: 100%;
  background-color: #1C3050;
  position: relative;
  overflow: hidden;
  /*padding-top: 150px;*/
  margin-top: -10px;
  color: #f1f1f1;
  position: relative;
  text-align: right;
  border-bottom: 1px solid #444;
}
.heroTag {
  font-size: 4em;
  font-weight: 900;
  letter-spacing: -.04em;
  line-height: 1;
  margin-bottom: .1em;
  }
