/* ==========================================================================
   Modules > Icons
   ========================================================================== */

.material-icons{
  font-family: "Material Icons";
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;

  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
