{
  "presets": [
    ["env", {
      "useBuiltins": true,
      "modules": "commonjs",
      "exclude": ["transform-regenerator", "transform-async-to-generator"],
      "targets": {
        "node": "current"
      }
    }],
  ],
  "plugins": [
    "fast-async",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ]
}
