h1,
h2,
h3,
h4,
h5 {
    color: $text-color;
    font-weight: $headline-font-weight;
    font-family: $headline-font-family;
}

.md-icon {
    color: $icon-color;
    font-size: $font-icon-size;
    text-align: center;
    transition-property: color;
    transition-duration: $transition-length;
    user-select: none;

    &--disabled {
        color: $font-icon-disabled-color;
    }

    &--inherit {
        color: inherit;
    }

    .md-icon-separator {
        display: flex;
        align-items: center;
        font-weight: inherit;
        text-align: left;

        .md-icon {
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    .md-icon-text {
        flex-grow: 1;
        flex-shrink: 0;
        font-weight: inherit;
        line-height: inherit;

        &:first-child {
            padding-right: 16px;
        }

        &:last-child {
            padding-left: 16px;
        }
    }
}
