{
  "presets": [["boldr/node", {
    "targets": {
      "node": 8
    },
    "modules": false,
    "exclude": ["transform-regenerator", "transform-async-to-generator"],
    "useBuiltIns": true
    }]]
}
